/*banner*/
body {background-color: #f4f4f4;}
.banner_txet_box {width: 100%;background-color: #b9d5e0;position: absolute;top:0;}
.banner_txet_top { width: 793px; height: 101px;margin: 0 auto; color:#fafafa; padding:20px 0 0px 97px;background: url(../img/online-icon.jpg) no-repeat left center; }
.banner_txet_top p { font-size: 12px;}
h4 { font-size: 20px; color: #ffffff;}
.banner_txet_box_bottom { height: 101px; width: 100%; line-height: 101px; padding-left: 221px; position: absolute;bottom: 0;background-color: rgba(255,255,255,0.25)}
/* banner_bottom_tab*/
.box { background-color: #f4f4f4;}
.owl-carousel{display: none;position: relative;}
.owl-carousel .owl-wrapper-outer{overflow: hidden;width: 100%;}	
.owl-item{float: left;}
*{margin:0;padding:0;list-style-type:none;}
.scroll{width:1092px;margin:0 auto;padding-top:50px;}
.item{position:relative;width:340px;height:180px;margin:0 auto;background-color:#fff;overflow:hidden; border-radius:8px ; overflow: hidden;}
.item span { display: block; height:44px;width: 340px; line-height: 44px; font-size: 16px; text-align: center; background: rgba(0,0,0,0.25); color: #ffffff;position: absolute; bottom: 0;}
.scroll .item img { display: block; width: 340px; margin: 0 auto;}
.scroll .shd{position:absolute;left:0;top:0;width:100%;height:100%;}
.scroll .shd a{display:block;width:100%;height:100%;}
.owl-theme .owl-controls .owl-buttons div{position:absolute;top:90px;width:30px;height:60px;margin:0;padding:0;border-radius:0;font:60px/60px "宋体";background-color:transparent;overflow:hidden;_display:none;}
.owl-theme .owl-controls .owl-buttons .owl-prev{left:-80px; background: url(../img/arrow-left.png) no-repeat left center; width: 28px;height: 81px;}
.owl-theme .owl-controls .owl-buttons .owl-next{right:-80px; background: url(../img/arrow-right.png) no-repeat right center; width: 28px;height: 81px;}
/*.owl-theme .owl-controls .owl-buttons .owl-prev:before{content:"<";}
.owl-theme .owl-controls .owl-buttons .owl-next:before{content:">";}*/
.owl-theme .owl-controls{margin-top: 10px;	text-align: center;}
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	margin: 5px;
	padding: 3px 10px;
	font-size: 16px;
	border-radius: 30px;
	background: #869791; }
.owl-pagination { margin-top: 30px;}
.owl-controls .owl-page{display: inline-block;}
.owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span
{filter: Alpha(Opacity=100);opacity: 1;}
/*tab*/
.list { width: 100%; height:53px; background-image: url(../img/tab_bg.png); overflow: hidden;}
.list ul { width: 552px;height: 53px; margin:0 auto;}
.list ul li { color: #737373; width: 78px; height: 50px; line-height: 50px; margin: 0 53px 0 53px; float: left; text-align: center;}
.tab_box span { width: 554px; height: 50px;margin: 0 auto; display: block;}
/*recommend*/
.recommend_box { width: 100%; height: 304px; background-color: #f4f4f4; position: relative;}
.box { height: 304px;}
.bottom_title { display: block; position: absolute;bottom: 0; width: 340px; line-height: 44px; text-align: center; font-size:16px; color:#ffffff; background-color: rgba(0,0,0,0.25);}
.content_tab_box { width: 100%; height:53px; background-image: url(../img/tab_bg.png);  }
.content_tab .click { text-align: center;color: #70a7c6; padding:0 31px 0 45px ; margin-right: 14px; float:left;height: 53px;line-height: 53px; background: url(../img/arrow-bottom.png) no-repeat right center;}
.content_tab { display: block;height: 53px; width: 536px; margin: 0 auto;position: relative; }
.down {width: 750px;position: absolute;left:53px; top: 51px; background-color: #ffffff;display: none;box-shadow:0px 1px 1px #d3d3d3;}
.down p { float: left; padding: 0 24px 0 24px; width: 202px;}
.down p:hover{ background-color: #70A7C6; color: #ffffff;}
/*content*/
.content_box { width: 100%;  background-color: #f4f4f4;overflow: hidden;}
.content_list_box { width: 1200px;  margin: 0 auto;}
.content_list_box ul {margin: 0; padding: 0; width: 1064px; background-color: #000000; margin: 0 auto; ;}
.content_list_box li { float:left;width: 230px; height: 216px;  border:1px solid #DCDCDC;background-color: #ffffff; border-radius:8px; margin:55px 44px 0 0;  overflow: hidden;}
.content_list_box li:nth-child(4n){margin:55px 0 0 0; }
.content_list_box dl { margin-left: 14px;}
.content_list_box img { width: 230px; height: 124px;}
.title { font-size: 12px; color: #000000; margin-top: 4px;}
.name { font-size: 10px; color: #7f7f7f; margin-top: 3px;}
.content{ font-size: 10px; color: #7f7f7f;margin-top: 3px;}
.price { font-size: 14px; color: #ff4d4d; margin-top: 6px;}
/*button*/

