.fm_select{
	border:1px solid #c6c6c6;
	border-right:0;
	height:27px;
	width:80px;	
	float:left;
	color:#666;
}
.fm_search_cc{
	border:1px solid #c6c6c6;
	height:25px;	
	width:140px;
	float:left;
	padding-left:10px;
}
.fm_left_class{
	background-color:#FFF;	
	padding:15px;
	width:260px;
	margin-top:20px;	
	border-radius:3px;
	position:relative;
	z-index:1;	
}
.fm_class_box{
	border-bottom:1px dashed #ccc;
	padding-bottom:5px;
	z-index:1;
}
.fm_class_lv1{
	z-index:1;
}
.lv1_ul{
	margin-left:18px;
	z-index:1;	
}
.fm_class_lv1 p{
	height:40px;
	line-height:40px;
	font-size:15px;
	letter-spacing:2px;	
	margin-left:18px;
}
.fm_class_lv2{
	display:inline-block;	
	letter-spacing:2px;
	font-size:14px;
	color:#666;
	height:30px;
	line-height:30px;
	width:75px;
	position:relative;
	z-index:1;
	text-align:center;
}
.fm_class_lv1 li span{
	color:#999;	
}
.fm_hover_lv3{
	display:none;
	position:absolute;
	z-index:9;
	border:1px solid #ccc;
	background:#FFF;
	width:233px;
}
.fm_class_lv3{
	display:inline-block;	
	font-size:14px;
	color:#666;
	height:30px;
	line-height:30px;
	width:74px;
	position:relative;
	z-index:1;
	text-align:center;
}	
.fm_hover_lv3 li span:hover{
	color:#3a99d8;
}
