@charset "utf-8";
/* CSS Document */
.upload_each1{
	height:36px;
	width:900px;
	margin-bottom:15px;	
}
.upload_each2{
	height:36px;
	width:900px;
	margin-bottom:15px;	
}
.upload_each3{
	height:36px;
	width:900px;
	margin-bottom:15px;	
}
.box{
		position:relative;
		float:left;
	}
input.uploadFile{
		position:absolute;
		right:82px;
		top:0px;
		opacity:0;
		filter:alpha(opacity=0);
		cursor:pointer;
		width:70px;
		height:36px;
		overflow: hidden;
	}
input.textbox{
		float:left;
		padding:5px;
		color:#999;
		height:24px;
		line-height:24px;
		border:1px #ccc solid;
		width:720px;
		margin-right:15px;
	}
a.choose{
		float:left;
		display:inline-block;
		padding:4px 20px;
		color:#fff;
		font:14px "Microsoft YaHei", Verdana, Geneva, sans-serif;
		cursor:pointer;
		background-color:#3a99d8;
		line-height:28px;
		text-decoration:none;
		margin-right:15px;
		border-radius:3px;
	}
a.upload{
		float:left;
		display:inline-block;
		padding:4px 20px;
		color:#fff;
		font:14px "Microsoft YaHei", Verdana, Geneva, sans-serif;
		cursor:pointer;
		background-color:#3a99d8;
		line-height:28px;
		text-decoration:none;
		border-radius:3px;
	}
.showbox1{
	width:280px;
	height:360px;	
	float:left;
	margin:0 5px;
	border:1px solid #ccc;
}
.showbox2{
	width:280px;
	height:360px;	
	float:left;
	margin:0 5px;
	border:1px solid #ccc;
}
.showbox3{
	width:280px;
	height:360px;	
	float:left;
	margin:0 5px;
	border:1px solid #ccc;
}