/*面包屑*/
.bread{width: 100%;height: 50px;background: #70a7c6;}
.bread ul{width: 850px;margin: 0 auto;}
.bread ul li{height: 50px;line-height: 50px;float: left;}
.bread ul li p{font-size: 14px;color: #FFF;float: left;cursor: pointer;}
.bread ul li span{font-size: 14px;color: #FFF;}

/*banner*/
.flexslider {margin: 0px auto;position: relative;width: 100%;height: 460px;overflow: hidden;zoom: 1;}
.flexslider .slides li {width: 100%;height: 100%;}
.flex-direction-nav a {width: 70px;height: 70px;line-height: 99em;overflow: hidden;margin: -35px 100px 0 100px;display: block;background: url(../img/arrow.png) no-repeat;position: absolute;top: 50%;z-index: 10;cursor: pointer;opacity: 0;filter: alpha(opacity=0);-webkit-transition: all .3s ease;border-radius: 35px;}
.flex-direction-nav .flex-next {background-position: 0 -70px;right: 0;}
.flex-direction-nav .flex-prev {left: 0;}
.flexslider:hover .flex-next {opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-prev {opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover {opacity: 1;filter: alpha(opacity=50);}
.flex-control-nav {width: 100%;position: absolute;bottom: 10px;text-align: center;z-index: 5;}
.flex-control-nav li {margin: 0 2px;display: inline-block;zoom: 1;*display: inline;}
.flex-control-paging li a {background: url(../img/dot.png) no-repeat 0 -16px;display: block;height: 16px;overflow: hidden;text-indent: -99em;width: 16px;cursor: pointer;}
.flex-control-paging li a.flex-active,.flex-control-paging li.active a {background-position: 0 0;}
.flexslider .slides a img {width: 100%;height: 460px;display: block;background-size: cover !important;}



/*就业-一级页面*/
.bannerBox{position: relative;}
.subhead{width: 100%;height: 100px;background: #b9d5e0;position: absolute;left: 0;top: 0;z-index: 6;}
.subheadBox{width: 900px;height: 100px;margin: 0 auto;display: table;}
.subhead-leftBox{width: 70px;height: 70px;float: left;background: url(../img/subhead-icon.jpg) 0 0 no-repeat;background-size: cover;margin-top: 15px;}
.subhead-rightBox{margin-left: 25px;width: 805px;display: table-cell;vertical-align: middle;overflow: hidden;}
.subhead-rightBox p{font-size: 16px;color: #FFF;line-height: 1.6;}
.subhead-rightBox span{font-size: 12px;color: #FFF;line-height: 1.6;}
.subfoot{width: 100%;height: 100px;background: rgba(255,255,255,.25);position: absolute;left: 0;bottom: 0;z-index: 3;}
.subfootBox{width: 900px;height: 100px;margin: 0 auto;display: table;}
.subfootBox p{font-size: 22px;color: #FFF;display: table-cell;vertical-align: middle;}
/*recommand*/
.recommand-tabBox{height: 50px;width: 100%;background: #FFF;}
.recommand-tabBox ul{width: 640px;margin: 0 auto;overflow: hidden;}
.recommand-tabBox ul li{width: 120px;line-height: 50px;margin: 0 20px;float: left;color: #333;font-size: 18px;text-align: center;cursor: pointer;}
li.selected{color: #70a7c6 !important;}
.recommand-contentBox{width: 1000px;margin: 20px auto;}
.owl-demo .item{background: #FFF;padding: 10px;overflow: hidden;margin: 0 25px;}
.owl-demo .item-img{width: 60px;height: 60px;border-radius: 50%;background-position: center;background-size: cover;background-image: url(../img/user-default.png);margin: 0 auto;}
.owl-demo .item p{color: #000;font-size: 14px;margin-top: 5px;margin-bottom: 5px;text-align: center;}
.owl-demo .item h5{color: #666;font-size: 12px;text-align: center;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.owl-demo .item-data{height: 16px;text-align: center;line-height: 16px;margin-top: 5px;margin-bottom: 5px;}
.owl-demo .item-data span{font-size: 12px;color: #999999;}
.owl-demo .item .example-img{display: block;width: 100%;height: 130px;background-position: center;background-size: cover;margin: 0 auto;}
/*.owl-demo .item .example-img{display: block;width: 100%;height: auto;}*/
.owl-demo .item-btn{text-align: center;}
.owl-demo .item button{width: 120px;height: 28px;background: #70a7c6;outline: none;border-radius: 3px;color: #FFF;font-size: 14px;margin: 10px 0;}
/*hot answer*/
.hotAnsBox{}
.hotAns-titleBox{height: 50px;width: 100%;background: #FFF;}
.hotAns-titleBox p{width: 120px;line-height: 50px;margin: 0 auto;color: #333;font-size: 18px;text-align: center;cursor: pointer;}
.hotAns-contentBox{width: 1000px;margin: 20px auto;}
.owl-hotAns .item{overflow: hidden;width: 850px;margin: 0 auto;}
.owl-hotAns .item ul li{border: 1px solid #e7e7e7;border-radius: 8px;overflow: hidden;margin-top: 5px;padding: 15px;background: #FFF;}
.answer-item-left{height: 100px;width: 140px;display: table-cell;vertical-align: middle;}
.answer-item-userImg{width: 50px;height: 50px;border-radius: 50%;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url(../img/user-default.png);margin: 0 auto;}
.answer-item-left p{margin-top: 6px;font-size: 14px;color: #333;text-align: center;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-break: break-word;}
.answer-item-data{height: 16px;text-align: center;line-height: 16px;margin-top: 8px;}
.answer-item-data span{font-size: 12px;color: #999999;}
.answer-item-mid{width: 380px;padding-left: 20px;position: relative;display: table-cell;vertical-align: middle;}
.answer-item-mid p{color: #333;font-size: 14px;line-height: 1.8;}
.answer-item-mid a{position: absolute;right: 0;bottom: 0;font-size: 14px;line-height: 1.8;color: #70a7c6;z-index: 2;background: #FFF;width: 85px;text-align: right;}
.answer-item-right{height: 100px;padding-left: 20px;display: table-cell;vertical-align: middle;}
.answer-item-worksImg{width: 100px;height: 100px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url(../img/works-img.png);float: left;}
.answer-item-right p{width: 120px;height: 28px;line-height: 28px;border-radius: 3px;text-align: center;color: #FFF;float: left;margin-left: 20px;margin-right: 15px;margin-top: 36px;background: #70a7c6;cursor: pointer;}



/*就业-二级页面*/
.contentBox{width: 850px;margin: 0 auto;overflow: hidden;}
.contentBox .title{height: 30px;line-height: 30px;border-bottom: 2px solid #b6b6b6;}
.contentBox .title p{color: #000;font-size: 16px;}
/*老师简介*/
.teacher-topBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 40px;background: #FFF;margin-top: 20px;overflow: hidden;}
.teacher-topLeftBox{overflow: hidden;float: left;width: 180px;text-align: center;}
.teacher-img{width: 120px;height: 120px;border-radius: 50%;background-position: center;background-size: cover;background-image: url(../img/user-default.png);margin: 0 auto;}
.teacher-topLeftBox p{color: #000;font-size: 16px;margin-top: 20px;margin-bottom: 10px;text-align: center;}
.teacher-data{height: 16px;text-align: center;line-height: 16px;margin-top: 8px;}
.teacher-data span{font-size: 12px;color: #999999;}
.teacher-topLeftBox button{width: 120px;height: 30px;border: 2px solid #86b3e5;border-radius: 28px;outline: none;background: #86b3e5;color: #FFF;font-size: 12px;margin-top: 20px;}
.teacher-topRightBox{float: left;margin-left: 50px;width: 535px;}
.teacher-topRightBox p{line-height: 1.8;color: #333;font-size: 14px;}
.teacher-topRightBox p a{color: #779bee;}
.teacher-topRightBox p strong{color: #6f8cc6;}
.teacher-topRightBox button{width: 120px;height: 28px;background: #70a7c6;outline: none;border-radius: 3px;color: #FFF;font-size: 14px;margin-top: 20px;}
.teacher-form{border: 2px solid #d3d3d3;border-radius: 8px;padding: 20px 40px;background: #FFF;margin-top: 20px;position: relative;}
.teacher-form-leftBox{float: left;width: 180px;text-align: center;margin-top: 40px;}
.teacher-upload{width: 100%;position: relative;}
.upload-img{width: 120px;height: 120px;background-size: cover;background-repeat: no-repeat;background-position: center;border-radius: 8px;margin: 0 auto;}
.inputFile{width: 120px;height: 120px;position: absolute;left: 0;right: 0;top: 0;opacity: 0;margin: 0 auto;}
.teacher-form-leftBox p{margin-top: 10px;color: #999;font-size: 14px;}
.teacher-form-rightBox{float: left;margin-left: 50px;width: 505px;}
.teacher-form-rightBox textarea{background: #d0d3d4;width: 100%;height: 200px;resize: none;border-radius: 8px;padding: 15px;line-height: 1.8;color: #FFF;font-size: 14px;}
.teacher-form button{width: 120px;height: 28px;background: #70a7c6;outline: none;border-radius: 3px;color: #FFF;font-size: 14px;margin-top: 20px;float: right;}
.teacher-form:before,.teacher-form:after{position: absolute;content: "";top: -20px;left: 415px;display: block;width: 0;height: 0;border: 10px solid #d3d3d3;border-color: transparent transparent #FFF transparent;z-index: 6;}
.teacher-form:after{top: -22px;border-color: transparent transparent #d3d3d3 transparent;z-index: 5;}
/*提问申明*/
.teacher-mid{margin-top: 20px;}
.teacher-midBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 20px 40px;background: #FFF;margin-top: 20px;}
.teacher-midBox p{color: #333;font-size: 14px;line-height: 1.8;}
/*问题详解*/
.teacher-bottom{margin-top: 20px;}
.teacher-bottomBox{margin-top: 20px;}
.teacher-bottomBox ul li{border: 1px solid #e7e7e7;border-radius: 8px;overflow: hidden;margin-top: 5px;padding: 15px;background: #FFF;min-height:100px;display: table;}
/*弹窗-扫码支付*/
.coverBox{position: absolute;left: 0;top: 0;bottom: 0;width: 100%;background: rgba(0,0,0,.2);z-index: 999;visibility: hidden;}
.coverContain{position: fixed;left: 0;right: 0;top: 250px;background: #FFFFFF;overflow: hidden;border: 2px solid #9e9e9e;border-radius: 5px;margin: 0 auto;width: 600px;padding: 10px 25px;}
.scanBox{text-align: center;position: relative;}
.scanBox p{color: #333;font-size: 14px;line-height: 1.8;}
.scanBox strong{color: #ff2d2d;font-size: 14px;line-height: 1.8;}
.qrcodeBox{width: 100px;height: 100px;background-size: cover;background-repeat: no-repeat;background-position: center;margin: 5px auto;}
.scanBox span{display: block;font-size: 14px;color: #999;line-height: 1.8;}
.closeBox{width: 25px;height: 25px;line-height: 25px;position: absolute;right: 0;top: 0;text-align: center;color: #b0b0b0;font-size: 24px;cursor: pointer;}




