/*面包屑*/
.bread{width: 100%;height: 50px;background: #70a7c6;}
.bread ul{width: 1100px;margin: 0 auto;}
.bread ul li{height: 50px;line-height: 50px;float: left;}
.bread ul li p{font-size: 14px;color: #FFF;float: left;cursor: pointer;}
.bread ul li span{font-size: 14px;color: #FFF;}

/*left*/
.contentBox{width: 1100px;margin: 0 auto;margin-top: 25px;overflow: hidden;}
.leftbox{width: 200px;overflow: hidden;float: left;}
.leftbox .title{height: 30px;line-height: 30px;border-bottom: 2px solid #b6b6b6;}
.leftbox .title p{color: #000;font-size: 16px;}
/*个人信息*/
.infoBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 0 15px;background: #FFF;margin-top: 20px;}
.infoBox-top{padding: 20px 0;border-bottom: 2px solid #d3d3d3;}
.info-img{width: 120px;height: 120px;border-radius: 50%;background-position: center;background-size: cover;background-image: url(../img/user-default.png);margin: 0 auto;}
.infoBox-top p{color: #000;font-size: 16px;margin-top: 20px;margin-bottom: 10px;text-align: center;}
.infoBox-top span{color: #b2b2b2;font-size: 12px;}
.infoBox-top line{color: #b2b2b2;margin: 0 5px;font-size: 12px;}
.infoBox-top button{display: block;width: 105px;height: 30px;background: #0b80af;outline: none;text-align: center;color: #FFF;font-size: 14px;margin: 0 auto;margin-top: 12px;}
.infoBox-mid{padding: 20px 10px;border-bottom: 2px solid #d3d3d3;}
.infoBox-mid p{display: block;word-break: break-word;font-size: 12px;color: #B2B2B2;line-height: 1.8;}
.infoBox-bottom{padding: 20px 10px;overflow: hidden;line-height: 30px;}
.infoBox-bottom p{float: left;letter-spacing: 2px;color: #B2B2B2;}
.infoBox-bottom .rewards{width: 30px;height: 30px;background: url(../img/icon-reward.png) -1px 3px no-repeat;background-size: cover;float: left;margin-left: 10px;margin-bottom: 10px;cursor: pointer;}
.infoBox-bottom .rewards p{color: #FFF;font-size: 12px;width: 30px;text-align: center;font-weight: bold;}
/*我的关注*/
.leftbox .attention{margin-top: 20px;}
.attentionBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 0 15px;background: #FFF;margin-top: 20px;}
.attentionBox ul li{height: 40px;padding-bottom: 12px;border-bottom: 2px solid #d3d3d3;padding: 15px 0;}
.attention-leftBox{width: 40px;height: 40px;border-radius: 50%;background-position: center;background-size: cover;background-image: url(../img/user-default.png);float: left;}
.attention-rightBox{margin-left: 10px;float: left;line-height: 1.8;}
.attention-rightBox p{color: #333;font-size: 12px;}
.attention-rightBox span{color: #999;font-size: 12px;}
.attentionBox ul a{height: 35px;line-height: 35px;color: #666;text-align: center;display: block;letter-spacing: 2px;}
/*最近访客*/
.leftbox .recent{margin-top: 20px;}
.recentBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 0 15px;background: #FFF;margin-top: 20px;}
.recentBox ul li{height: 40px;padding-bottom: 12px;border-bottom: 2px solid #d3d3d3;padding: 15px 0;}
.recent-leftBox{width: 40px;height: 40px;border-radius: 50%;background-position: center;background-size: cover;background-image: url(../img/user-default.png);float: left;}
.recent-rightBox{margin-left: 10px;float: left;line-height: 1.8;}
.recent-rightBox p{color: #333;font-size: 12px;}
.recent-rightBox span{color: #999;font-size: 12px;}
.recentBox ul a{height: 35px;line-height: 35px;color: #666;text-align: center;display: block;letter-spacing: 2px;}

/*right*/
.rightbox{width: 200px;overflow: hidden;float: left;margin-left: 30px;width: 870px;}
.rightbox .title{height: 30px;line-height: 30px;border-bottom: 2px solid #b6b6b6;}
.rightbox .title p{color: #000;font-size: 16px;}
/*学习课程*/
.courseBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 0 20px;background: #FFF;margin-top: 20px;}
.course-item ul li{width: 246px;border: 2px solid #d3d3d3;border-radius: 8px;display: inline-block;overflow: hidden;margin: 0 11px;}
.course-bg{height: 140px;background-position: center;background-size: cover;background-repeat: no-repeat;}
.course-textBox{padding: 8px 10px;}
.course-textBox p{font-size: 14px;color: #333;line-height: 1.5;}
.course-textBox span{font-size: 12px;color: #666;line-height: 1.5;display: block;}
.course-price{overflow: hidden;}
.course-price strong{color: #ff4c4c;font-size: 18px;float: left;line-height: 28px;}
.course-price button{float: right;height: 28px;padding: 0 10px;background: #7d9fea;outline: none;border-radius: 3px;color: #FFF;font-size: 12px;}
/*就业咨询*/
.rightbox .job{margin-top: 20px;}
.jobBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 0 20px;background: #FFF;margin-top: 20px;position: relative;}
.jobBox .filter{height: 40px;line-height: 40px;position: absolute;right: 40px;top: 10px;z-index: 2;}
.jobBox .filter p{font-size: 12px;color: #333333;float: left;color: #999;cursor: pointer;}
.jobBox .filter line{color: #e0e0e0;margin: 0 10px;font-size: 12px;float: left;}
.filter p.selected{color: #333;}
.job-item ul li{border: 1px solid #e7e7e7;border-radius: 8px;overflow: hidden;margin-top: 20px;padding: 15px;}
.job-item-left{height: 100px;width: 140px;float: left;}
.job-item-userImg{width: 50px;height: 50px;border-radius: 50%;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url(../img/user-default.png);margin: 0 auto;}
.job-item-left p{margin-top: 6px;font-size: 14px;color: #333;text-align: center;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-break: break-word;}
.job-item-data{height: 16px;text-align: center;line-height: 16px;margin-top: 8px;}
.job-item-data span{font-size: 12px;color: #999999;}
.job-item-mid{height: 100px;width: 380px;float: left;margin-left: 20px;overflow: hidden;position: relative;}
.job-item-mid p{color: #333;font-size: 14px;line-height: 1.8;height: 100px;overflow: hidden;text-overflow: ellipsis;}
.job-item-mid a{position: absolute;right: 0;bottom: 0;font-size: 14px;line-height: 1.8;color: #70a7c6;z-index: 2;background: #FFF;width: 85px;text-align: right;}
.job-item-right{height: 100px;float: left;margin-left: 20px;}
.job-item-worksImg{width: 100px;height: 100px;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url(../img/works-img.png);float: left;}
.job-item-right p{width: 120px;height: 28px;line-height: 28px;border-radius: 3px;text-align: center;color: #FFF;float: left;margin-left: 10px;margin-top: 36px;}
p.solving{background: #d5667a;}
p.solved{background: #68d2be;}
/*我的知识树*/
.rightbox .skill{margin-top: 20px;}
.skillBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 0 20px;background: #FFF;margin-top: 20px;position: relative;}
.skill-analysis{margin-top: 20px;}
.skill-analysis-title{display: block;text-align: center;line-height: 1.8;margin: 10px 0;}
.skill-analysis-title p{font-size: 14px;color: #666;}
.skill-analysis-result{text-align: center;}
.skill-analysis-result button{width: 120px;height: 28px;border-radius: 5px;background: #c9cdd9;outline: none;color: #333;font-size: 12px;display: inline-block;margin: 0 5px 10px;}
.skill-btnBox{text-align: center;margin: 20px 0;}
button.btn-changeSkills{padding: 0 15px;height: 40px;border-radius: 5px;background: #5ba0ce;outline: none;color: #FFF;font-size: 14px;}
/*成长展示*/
.rightbox .works{margin-top: 20px;}
.worksBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 0 20px;background: #FFF;margin-top: 20px;position: relative;}
.worksBox a{margin: 10px 0;color: #333;font-size: 14px;display: block;text-align: right;margin-right: 62px;}
.worksBox ul{width: 728px;margin: 0 auto;overflow: hidden;}
.worksBox ul li{width: 220px;float: left;margin: 0 11px;}
.works-imgBorder{border: 1px solid #e5e5e5;border-radius: 3px;}
.works-img{margin: 9px;width: 200px;height: 150px;background-position: center;background-size: cover;background-repeat: no-repeat;}
.works-title{width: 200px;margin: 10px;}
.works-title p{color: #333;font-size: 14px;text-align: center;line-height: 1.8;}
/*讨论区*/
.rightbox .discuss{margin-top: 20px;}
.discussBox{border: 2px solid #d3d3d3;border-radius: 8px;background: #FFF;margin-top: 20px;position: relative;}
.discussBox ul li{border-bottom: 2px solid #dadada;overflow: hidden;margin: 0 60px;margin-top: 40px;}
.discuss-leftBox{float: left;width: 50px;height: 50px;border-radius: 50%;background-repeat: no-repeat;background-position: center;background-size: cover;background-image: url(../img/user-default.png);}
.discuss-rightBox{float: left;margin-left: 25px;width: 670px;overflow: hidden;}
.discuss-baseInfo{line-height: 1.8;display: inline-block;}
.discuss-baseInfo h5{font-size: 14px;float: left;color: #666666;}
.discuss-baseInfo p{font-size: 14px;float: left;color: #666666;margin-left: 15px;}
.discuss-baseInfo line{font-size: 14px;float: left;color: #999;margin: 0 10px;}
.discuss-baseInfo span{font-size: 14px;float: left;color: #999;}
.discuss-baseInfo a{padding: 3px 10px;margin-left: 15px;text-align: center;background: #5c9ac2;color: #FFF;font-size: 14px;letter-spacing: 3px;border-radius: 3px;}
.discuss-content{margin-top: 5px;}
.discuss-content p{line-height: 1.8;font-size: 12px;color: #666;padding-bottom: 20px;word-break: break-word;}
.discuss-replyBox{float: left;padding-left: 75px;width: 670px;overflow: hidden;padding-top: 15px;border-top: 2px dashed #e5e5e5;}
.commentBox{padding: 25px 60px;border-top: 2px solid #d3d3d3;position: relative;overflow: hidden;}
.isLogin{position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 8;}
.isLoginBox{overflow: hidden;width: 222px;margin: 0 auto;margin-top: 112px;}
.isLoginBox p{font-size: 12px;color: #333;float: left;margin-right: 5px;}
.isLoginBox a{float: left;color: #537dd7;font-size: 12px;}
.isLoginBox line{float: left;margin: 0 5px;color: #333;font-size: 12px;}
.commentBox button{padding: 0 10px;height: 25px;border-radius: 3px;background: #5c9ac2;outline: none;color: #FFF;font-size: 12px;letter-spacing: 2px;margin-top: 10px;float: right;}

/*弹窗*/
.coverBox{position: absolute;left: 0;top: 0;bottom: 0;width: 100%;background: rgba(0,0,0,.2);z-index: 999;visibility: hidden;}
.coverContain{position: fixed;left: 0;right: 0;top: 150px;background: #FFFFFF;overflow: hidden;border: 2px solid #9e9e9e;border-radius: 5px;margin: 0 auto;width: 600px;padding: 10px 25px;}
.coverTitle{height: 40px;line-height: 40px;padding: 0 20px;border-bottom: 2px solid #e5e5e5;}
.coverTitle p{font-size: 14px;color: #333333;}
.coverContent{padding: 15px 20px;overflow: hidden;}
.coverContent tips{color: #999;font-size: 14px;margin: 20px 0;}
.inputBox{height: 30px;line-height: 30px;padding: 0 10px;margin: 10px 0;position: relative;}
.inputBox p{width: 100px;float: left;text-align: right;color: #333333;margin-right: 5px;}
.inputBox span{float: left;color: #999;margin-left: 25px;}
.inputText{border: 1px solid #dedede;border-radius: 3px;width: 180px;height: 28px;line-height: 28px;color: #666;padding-left: 10px;outline: 0;float: left;}
.inputBox select{border: 1px solid #dedede;border-radius: 3px;width: 190px;height: 30px;line-height: 30px;color: #666;padding-left: 10px;outline: 0;float: left;}
.inputBox > button{float: left;height: 30px;color: #29ABE2;background: #FFF;outline: 0;margin-left: 20px;cursor: pointer;font-weight: bold;letter-spacing: 1px;}
red{color: #f67b14;}
.coverButton{height: 30px;float: right;}
.btnComfirm{float: left;width: 60px;height: 30px;text-align: center;color: #FFFFFF;background: #5c9ac1;outline: 0;margin-left: 10px;cursor: pointer;}
.btnCancel{float: left;width: 60px;height: 30px;text-align: center;color: #333333;background: #FFF;outline: 0;border: 1px solid #dedede;margin-left: 10px;cursor: pointer;}



/*评价老师*/
.rate{}
.rate .title{height: 30px;line-height: 30px;border-bottom: 2px solid #b6b6b6;}
.rate .title p{color: #000;font-size: 16px;}
.rate-topBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 25px;background: #FFF;margin-top: 20px;position: relative;overflow: hidden;}
.rate-topleftBox{float: left;width: 400px;height: 250px;}
.rate-topleftBox img{width: 100%;height: 100%;background-size: cover;background-position: center;background-repeat: no-repeat;}
.rate-topRightBox{float: left;margin-left: 50px;width: 550px;}
.rate-topRightBox h1{font-size: 16px;color: #333;line-height: 1.8;border-bottom: 2px solid #d5d5d5;letter-spacing: 2px;margin-bottom: 20px;}
.rate-topRightBox p{font-size: 14px;color: #333;line-height: 1.8;letter-spacing: 1.5px;}
.rate-topRightBox p strong{color: #7d9fea;}

.rateBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 80px;background: #FFF;margin-top: 20px;position: relative;overflow: hidden;}
.rate-leftBox{overflow: hidden;float: left;width: 180px;margin-top: 30px;}
.rate-img{width: 120px;height: 120px;border-radius: 50%;background-position: center;background-size: cover;background-image: url(../img/user-default.png);margin: 0 auto;}
.rate-leftBox p{color: #000;font-size: 16px;margin-top: 20px;margin-bottom: 10px;text-align: center;}
.rate-leftBox span{color: #b2b2b2;font-size: 12px;}
.rate-leftBox line{color: #b2b2b2;margin: 0 5px;font-size: 12px;}
.rate-rightBox{margin-left: 80px;overflow: hidden;position: relative;float: left;width: 675px;}
.rate-starBox{margin-bottom: 20px;overflow: hidden;}
.rate-starBox ul li{float: left;width: 300px;height: 25px;line-height: 28px;margin-left: 20px;margin-bottom: 20px;}
.rate-starBox ul li p{float: left;font-size: 14px;color: #333;margin-right: 10px;width: 70px;text-align: right;}
.rate-editor{position: relative;}
.rate-editor button{padding: 0 10px;height: 25px;border-radius: 3px;background: #5c9ac2;outline: none;color: #FFF;font-size: 12px;letter-spacing: 2px;margin-top: 10px;float: right;}
/*星级评价*/	
.star_word{margin-right:5px;padding:15px 0;	overflow:hidden;float:left;	}
.star_word p{float:left;color:#333;font-size:14px;font-weight:bold; }
.star_bg {width:125px; height:25px;background: url(../img/ev_stars.png) repeat-x;background-position:0 0px;background-size:25px;position: relative;overflow: hidden;}
.star {height: 100%; width: 25px;position: absolute;z-index: 3;}
.star_1 { left: 0px; }
.star_2 { left: 25px; }
.star_3 { left: 50px; }
.star_4 { left: 75px; }
.star_5 { left: 100px; }
label { display: block; _display:inline;height: 100%; width: 100%;cursor: pointer;}
/*单选按钮 */
input[type="radio"]{margin-left:-3px;}
.score { opacity:0;clip: rect(0 0 0 0);}
.score:checked + .star { width:125px; height:25px;  background: url(../img/ev_stars.png) repeat-x;background-position:0 -25px;background-size:25px;position: absolute;left: 0;z-index: 1;}
.score_1:checked ~ .star_1 { width: 25px; }
.score_2:checked ~ .star_2 { width: 50px; }
.score_3:checked ~ .star_3 { width: 75px; }
.score_4:checked ~ .star_4 { width: 100px; }
.score_5:checked ~ .star_5 { width: 125px; }