/******楼盘图片******/
.addWrap{ position:relative; width:100%;height:100%;margin:0; padding:0;vertical-align:middle;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;height:100%;position:relative;}
.verticalAlign{ vertical-align:middle; display:inline-block; height:100%; width:1px; margin-left:-1px;}
.img-responsive { display: inline-block; width:100%;vertical-align: middle;max-height:100%;}

.cover_div{
	position: fixed;
    top: 0;
	left:0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 99;
}


