/******通用样式******/
*{margin:0;padding:0;border:0}
html,body {margin:0px;padding:0;font-family:"微软雅黑", "Microsoft Yahei","宋体", Arial, Helvetica, sans-serif;font-size:12px;height:100%}
img { border:0px}
ul,li{list-style-type:none;}
a{text-decoration:none;cursor:pointer;}

/******footer******/
.footer_box{
	height:50px;	
}
.footer{
	height:50px;
	width:100%;
	background-color:#fc9331;	
	position:fixed;
	bottom:0;
}
.footer ul a li{
	height:50px;	
}
.footer ul li{
	width:20%;
	text-align:center;
	float:left;
	padding-top:5px;	
	height:50px;
}
.footer ul li p{
	color:#FFF;
	font-size:10px;	
}
.foot_cur{
	background-color:#ff7b00;	
}

/******footer ad******/
.footer_ad{
	height:50px;	
}
.ad{
	height:50px;
	width:100%;	
	position:fixed;
	bottom:0;	
}
.ad_left{
	width:75%;
	height:50px;
	background-color:#fc9331;
	float:left;	
}
.ad_image{
	padding:5px 10px;
	float:left;	
}
.ad_word{
	float:left;
	margin-top:8px;	
}
.ad_word p{
	color:#FFF;	
}
.ad_right{
	width:25%;
	height:50px;
	background-color:#ff7b00;	
	float:right;
}
.ad_button{
	height:50px;
	line-height:50px;	
}
.ad_button p{
	text-align:center;
	color:#333;
	font-size:14px;	
}

/******隐藏输入框******/
.hidden_input{
	height:40px;
	width:25%;
	position:absolute;
	left:0;	
}

/******底部弹窗样式******/
.ins_box{
	margin:0 10px;
	border-radius:5px;	
}
.ins_boxs{
	margin-left:10px;
	margin-right:10px;
	border-radius:5px;	
}
.ins_window{
	color:#007aff;
	font-size:16px;
	border-bottom:1px solid #7f7f7f;	
}
.ins_windows{
	color:#ff4966;
	font-size:16px;	
}
.no_border{
	border:0 !important;	
}
.no_border_bottom{
	border-bottom:0 !important;	
}

/******编辑器通用样式******/
.content_none{
	width:100%;
	text-align:center;	
	position:absolute;
	top:30%;
}
.content_none img{
	width:60% !important;
}

/******编辑器通用样式******/
.edit_box{
	margin:10px;	
}

/******楼层图片样式******/
#main{
	position: relative;
}
.pin{
	padding: 5px 2.5px 0 2.5px;
	float:left;
}
.box{
	padding: 2.5px;
	border:1px solid #ccc;
	box-shadow: 0 0 6px #ccc;
	border-radius: 5px;
}
.box img{
	width:110px;
	height:auto;
}

/******宣传视频样式******/
.video_box{
	width:100%;
	height:160px;
	position:relative;
	overflow:hidden;
	vertical-align:middle;
	text-align:center;	
}
.video_box img{
	position:relative;
	vertical-align:middle;
}
.video_bg{
	width:100%;	
	position:absolute;	
	top:0;
}
.video_bg img{
	display:block;
}
.video_play{
	position:absolute;
	top:0%;
	width:94%;	
	padding:0 3%;
	text-align:center;
	margin-top:15%;
	bottom:5%;
}
.video_play p{
	position:absolute;
	color:#FFF;
	font-size:14px;
	bottom:0;
	text-align:left;
}

/******往期活动样式******/
.activity_past{
	width:100%;
	padding:15px 0;
}
.activity_past p{
	color:#FFF;
	font-size:12px;
	background:#cecece;
	width:100px;
	border-radius:8px;
	text-align:center;
	height:30px;
	line-height:30px;
	margin-left:auto;
	margin-right:auto;
}

/******往期优惠样式******/
.discount_box{
	margin-top:15px;
	background:#FFF;
}
.discount_boxs{	
	height:287px;
	background:#FFF;
}
.discount_title{
	height:45px;
	line-height:45px;
	margin:0 10px;
	border-bottom:1px solid #eff3f6;
}
.discount_title p{
	color:#000;
	font-size:14px;
	float:left;	
	font-weight:bold;
}
.discount_title span{
	color:#b7c4cd;
	font-size:12px;
	float:right;	
}
.discount_word{
	padding:10px;
}
.discount_word p{
	font-size:14px;
	color:#333;
	height:60px;
	overflow:hidden;
}
.discount_words{
	padding-bottom:10px;
	margin:0 10px;
	border-bottom:1px solid #eff3f6;
}
.discount_words p{
	font-size:14px;
	color:#999;
	height:40px;
	overflow:hidden;
}