/******写字楼******/
.search_box{
	height:76px;	
}
.search{
	width:100%;
	height:76px;
	position:fixed;
	top:0;
	border-bottom:1px solid #eff3f6;	
}
.top_search{
	width:100%;
	height:36px;	
}
.search_input{
	width:70%;
	height:36px;
	line-height:36px;
	padding-left:5%;
	background:#eff3f6;	
	outline:none;
	border:none;
	float:left;
}
.search_button{
	width:25%;
	height:36px;
	line-height:36px;
	background:#ff7b00;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	z-index: 99;	
}
.top_select{
	width:100%;
	height:40px;
	background:#FFF;		
}
.select_css{
	width:20%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#000;
	font-weight:bold;
	float:left;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 5%;
}
.select_first{
	background:url(../images/arrow_bottom.png) 18% 50% no-repeat;
	background-size:12px;
}
.select_second{
	background:url(../images/arrow_bottom.png) 18% 50% no-repeat;
	background-size:12px;
}
.select_thrid{
	background:url(../images/arrow_bottom.png) 18% 50% no-repeat;
	background-size:12px;
}
.select_fourth{
	background:url(../images/arrow_bottoms.png) 4% 50% no-repeat;
	background-size:10px;
}
.box_each{
	height:80px;
	margin:0 10px;	
	border-bottom:1px solid #eff3f6;
}
.box_image{
	width:70px;
	height:70px;
	border-radius:50%;
	overflow:hidden;
	float:left;	
	margin-top:5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.box_mid{	
	float:left;
	width:62%;
	overflow:hidden;
}
.box_title{
	padding-top:10px;
	height:20px;
	line-height:20px;
}
.box_title p{
	font-size:12px;
	color:#333;	
	float:left;
	height:20px;
	line-height:20px;
	margin-left:10px;
	font-weight:bold;
	width:95%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.box_type{
	height:20px;
	line-height:20px;	
}
.box_type p{
	color:#999;
	float:left;
	height:20px;
	line-height:20px;
	margin-left:10px;
	margin-top:-5px	
}
.box_pos{
	height:20px;
	line-height:20px;
	margin-top:5px;
}
.box_pos img{
	float:left;
	margin-left:10px;
	margin-top:3px;
	margin-right:5px;	
}
.box_pos p{
	color:#666;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.box_right{
	float:right;
	height:60px;
	text-align:center;
	line-height:1;
	padding-top:20px;
}	
.box_right p{
	color:#ff4966;
	font-size:20px;
	font-weight:bold;	
}
.box_right span{
	color:#cccccc;
	font-size:12px;
}	
.box_bottom{
	height:135px;
	text-align:center;	
	background-color:#eff3f6;
}
.coverdiv{
	position: fixed;
    top: 0;
	left:0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
	margin-top:77px;
    z-index: 99;
	display:none;
}
.area , .traffic , .business{
	position:absolute;
	width:100%;	
	height:333px;
	background:#FFF;
	overflow-y:auto;
}
.area ul li , .traffic ul li , .business ul li{
	width:92%;
	text-align:left;
	padding:0 4%;
	height:36px;
	line-height:36px;
	font-weight:normal;
	color:#333;
	font-size:14px;
	border-bottom:1px solid #bebebe;
}
.area_cur{
	background:#eff3f6;	
}
.more{
	position:absolute;	
	width:100%;	
	background:#FFF;
}
.area_title{
	text-align: left;
	width:92%;
	padding:0 4%;
	/*display:inline-block;*/
}
.area_title p{
	font-size:12px;
	color:#999999;	
}
.area_choose{
	width:92%;
	padding:0 4%;
}
.area_choose ul li{
	font-size:14px;
	color:#333;
	font-weight:normal;	
	height:30px;
	line-height:30px;
	width:24%;
	margin-bottom:10px;
	float: left;
}
.more_cur{
	background:#eff3f6;
	border:1px solid #b7c4cd;
	border-radius:50px;
	height:28px !important;
	line-height:28px !important;
}
.feature_title{
	text-align:left;
	width:92%;
	padding:0 4%;
	/*display:inline-block;*/
}
.feature_title p{
	font-size:12px;
	color:#999999;	
}
.feature_choose{
	width:92%;
	padding:0 4%;
}
.feature_choose ul li{
	font-size:14px;
	color:#333;
	font-weight:normal;	
	height:30px;
	line-height:30px;
	width:24%;
	margin-bottom:10px;
	float: left;
}
.more_submit{
	text-align:center;
	border-top:1px solid #bebebe;
	clear:both;
	height:40px;	
}