/******金融服务******/
.service_top{
	height:36px;
	width:100%;
}
.service_top ul li{
	width:33%;
	height:36px;
	line-height:36px;
	border-left:1px solid #eff3f6;	
	color:#000;
	font-weight:bold;
	font-size:14px;
	float:left;
	text-align:center;
}
.box_each{
	height:36px;
	width:100%;
	border-top:1px solid #eff3f6;	
}
.box_each ul li{
	width:33.3%;
	height:36px;
	line-height:36px;
	text-align:center;
	color:#666;
	font-size:14px;
	float:left;	
}
.cover_calculator{
	position: fixed;
    top: 0;
	left:0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 99;
	display:none;
}
.calculator_box{
	background:#FFF;
}
.calculator_coverbox{
	background:#FFF;
	margin:20px;
	margin-top:100px;
	border-radius:5px;	
}
.calculator_title{
	height:36px;
	border-bottom:1px solid #eff3f6;
}
.calculator_bg{
	width:5px;
	background-color:#ff7b00;
	height:36px;
	float:left;	
	position:absolute;
}
.calculator_bgcover{
	width:5px;
	background-color:#ff7b00;
	height:26px;
	float:left;	
	margin-top:5px;
	margin-left:5px;
	position:absolute;
}
.calculator_word{
	height:36px;
	line-height:36px;	
	margin:0 15px;	
}
.calculator_word p{
	color:#333;
	font-weight:bold;
	font-size:14px;	
}
.repay_way{
	height:36px;
	line-height:36px;
}
.repay_way p{
	font-size:14px;
	color:#666;
	text-align:center;
}
.cal_field{
	height:36px;
	margin:0 10px;	
}
.cal_word{
	width:72px;
	height:36px;
	line-height:36px;
	float:left;	
}
.cal_word p{
	font-size:14px;
	color:#999;
	text-align:right;
}
.cal_result{
	height:36px;
	line-height:36px;
}
.cal_result span{
	font-size:14px;
	color:#333;
	margin-left:3%;
}
.cal_choose{
	height:36px;
	line-height:36px;	
}
.cal_radio{
	float:left;	
	margin-left:6%;
	background-image: url(../images/icon_radio.png);
	background-repeat: no-repeat;
	background-position: -16px 0;
	width:16px;
	height:16px;
	margin-top:10px;
	margin-right:5px;
}
.cal_radio_change{
	margin-left:3.5% !important;	
}
.on {
	background-position: 0 0;
	background-image: url(../images/icon_radio.png);
}
.radioclass {
	cursor: pointer;
	position:absolute;
	width:16px;
	height:16px;
	opacity:0;
}
.cal_choose span{
	float:left;
	color:#333;
	font-size:14px;	
}
.cal_input{
	height:36px;
	line-height:36px;	
}
.inputclass{
	margin-left:6%;
	text-align:center;
	width:58%;
	height:24px;
	line-height:24px;
	background:#eff3f6;
	border:1px solid #eff3f6;
	color:#333;
	font-size:14px;
	font-weight:bold;	
}
.inputclass +span{
	color:#333;
	font-size:14px;
	font-weight:bold;	
}
.selectclass{
	margin-left:6%;
	text-align:center;
	width:58.5%;
	height:26px;
	line-height:26px;
	background:#eff3f6;
	border:1px solid #eff3f6;
	color:#333;
	font-size:14px;
	font-weight:bold;	
	padding-left:22%;
}
.selectclass1{
	margin-left:6%;
	text-align:center;
	width:58.5%;
	height:26px;
	line-height:26px;
	background:#eff3f6;
	border:1px solid #eff3f6;
	color:#333;
	font-size:14px;
	font-weight:bold;	
	padding-left:12%;
}
option{
	color:#333;
	font-weight:bold;	
}
.cal_submit{
	padding:10px 0 15px 0;
	margin:0 15%; 
}
.btn_submit{
	text-align:center;
	border:1px solid #ff7b00;
	border-radius:5px;
	color:#ff7b00;
	font-size:14px;	
	height:30px;
	line-height:30px;
	width:100%;
	background:#FFF;
}
.coverdiv{
	position: fixed;
    top: 0;
	left:0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 99;
	display:none;
}
.cover_div{
	background:#FFF;
	margin:0 10%;
	padding:5%;	
	top:35%;
	position:absolute;
	border-radius:10px;
}
.cover_title{
	height:20px;
	line-height:20px;	
	border-left:3px solid #ff7b00;
}
.cover_title p{
	margin-left:8px;
	color:#333;
	font-weight:bold;
	font-size:14px;	
}
.cover_word{
	margin-top:15px;
	font-size:14px;
	color:#333;	
}