/******我的预约******/
.box_each{
	padding:0 10px;	
	background:#FFF;
	overflow:hidden;
	margin-top:5px;
	margin-bottom:15px;
	position:relative;
}
.box_image{
	width:70px;
	height:70px;
	border-radius:50%;
	overflow:hidden;
	float:left;	
	margin-top:5px;
}
.box_mid{	
	float:left;
	width:62%;
	overflow:hidden;
}
.box_title{
	padding-top:10px;
	height:20px;
	line-height:20px;
}
.box_title p{
	font-size:14px;
	color:#333;	
	float:left;
	height:20px;
	line-height:20px;
	margin-left:10px;
	font-weight:bold;
	width:95%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.box_type{
	height:20px;
	line-height:20px;	
}
.box_type p{
	color:#000;
	float:left;
	height:20px;
	line-height:20px;
	margin-left:10px;
	margin-top:2px;
	font-weight:bold;
}
.box_pos{
	height:20px;
	line-height:20px;
}
.box_pos img{
	float:left;
	margin-left:10px;
	margin-top:3px;
	margin-right:5px;	
}
.box_pos p{
	color:#666;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.box_right{
	float:right;
	height:60px;
	text-align:center;
	line-height:1;
	padding-top:20px;
}	
.box_right p{
	color:#ff4966;
	font-size:20px;
	font-weight:bold;	
}
.box_right span{
	color:#cccccc;
	font-size:12px;
}	
.box_tag{
	position:absolute;
	left:0;
	top:5px;
	background:#ff3336;	
	border-radius:0 20px 20px 0;
	width:50px;
	text-align:center;
}
.box_tag p{
	padding:3px 8px 5px 3px;	
	color:#FFF;
}
.box_tags{
	position:absolute;
	left:0;
	top:5px;
	background:#03bc00;	
	border-radius:0 20px 20px 0;
	width:50px;
	text-align:center;
}
.box_tags p{
	padding:3px 8px 5px 3px;	
	color:#FFF;
}
.collect_cancel{
	height:30px;
	line-height:30px;
	padding:8px 10px;
	clear:both;	
	border-top:1px solid #eff3f6;
	margin:0 -10px;
}
.collect_cancel p{
	float:right;
	color:#ff7b00;
	font-weight:bold;
	height:30px;
	line-height:30px;
	width:85px;
	border:1px solid #b7c4cd;
	text-align:center;	
	border-radius:20px;
	margin-left:10px;
}
.coverdiv{
	position: fixed;
    top: 0;
	left:0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 99;
	display:none;
}
.cover_div{
	background:#FFF;
	margin:0 10%;
	padding:5%;	
	top:25%;
	position:absolute;
	border-radius:10px;
}
.cover_title{
	height:20px;
	line-height:20px;	
	border-left:3px solid #ff7b00;
}
.cover_title p{
	margin-left:8px;
	color:#333;
	font-weight:bold;
	font-size:14px;	
}
.cover_word{
	margin-top:15px;
	font-size:14px;
	color:#333;	
}
.cover_form_area{
	margin-top:10px;
	height:25px;
	line-height:25px;	
}
.cover_form_area p{
	color:#333;
	font-weight:bold;
	font-size:14px;
	letter-spacing:2px;
	float:left;	
}
.cover_form_price{
	margin-top:10px;
	height:25px;
	line-height:25px;	
}
.cover_form_price p{
	color:#333;
	font-weight:bold;
	font-size:14px;
	letter-spacing:2px;
	float:left;	
}
.cover_area{
	border:1px solid #ccc;
	height:23px;
	line-height:23px;
	width:80px;
	text-align:center;
	float:left;	
}
.cover_form_area span{
	color:#333;	
	font-weight:bold;
	font-size:14px;
	height:23px;
	line-height:23px;
	margin-left:5px;
	position:relative;
	top:-3px;
}
.cover_form_price span{
	color:#333;	
	font-weight:bold;
	font-size:14px;
	height:23px;
	line-height:23px;
	margin-left:5px;
}
.cover_submit{
	text-align:center;
	margin-top:20px;
}
.cover_btn{
	width:100px;
	height:30px;
	line-height:30px;
	background:#ff7b00;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin:0 auto;
	border-radius:10px;
}