/******个人中心******/
.user_top{
	width:100%;
	height:150px;
	overflow:hidden;
	background:url(../images/user_bg.png) 0 0 no-repeat;
	background-size:cover;
	text-align:center;	
}
.user_photo{
	width:75px;
	height:75px;
	overflow:hidden;	
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	border-radius:50%;
}
.user_name{
	margin-top:5px;	
}
.user_name p{
	font-size:16px;
	color:#FFF;
	font-weight:bold;	
}
.box_each{
	background:#FFF;	
	height:40px;
	border-bottom:1px solid #eff3f6;
}
.box_each_one{
	background:url(../images/user_icon1.png) 0 0 no-repeat;
	background-size:20px;
	background-position:left center;
	height:40px;
	line-height:40px;
	margin:0 10px 0 20px;
}
.box_each_two{
	background:url(../images/user_icon2.png) 0 0 no-repeat;
	background-size:20px;
	background-position:left center;
	height:40px;
	line-height:40px;
	margin:0 10px 0 20px;
}
.box_each_three{
	background:url(../images/user_icon3.png) 0 0 no-repeat;
	background-size:20px;
	background-position:left center;
	height:40px;
	line-height:40px;
	margin:0 10px 0 20px;
}
.box_each_four{
	background:url(../images/user_icon4.png) 0 0 no-repeat;
	background-size:20px;
	background-position:left center;
	height:40px;
	line-height:40px;
	margin:0 10px 0 20px;
}
.box_each_five{
	background:url(../images/user_icon5.png) 0 0 no-repeat;
	background-size:20px;
	background-position:left center;
	height:40px;
	line-height:40px;
	margin:0 10px 0 20px;
}
.box_each_six{
	background:url(../images/user_icon6.png) 0 0 no-repeat;
	background-size:20px;
	background-position:left center;
	height:40px;
	line-height:40px;
	margin:0 10px 0 20px;
}
.box_each_one p,.box_each_two p,.box_each_three p,.box_each_four p,.box_each_five p,.box_each_six p{
	margin-left:30px;
	font-size:14px;
	letter-spacing:1.5px;
	color:#333;	
	float:left;
}
.box_each_six span{
	float:right;	
	font-size:14px;
	color:#ff7b00;	
}