/******我的发布******/
.rel_box{
}
.rel_wx{
	background:#FFF;
	height:40px;
	line-height:40px;
	padding:0 3%;
	width:94%;	
	border-top:1px solid #b7c4cd;
	border-bottom:1px solid #b7c4cd;
	margin-top:10px;
}
.rel_wx p{
	float:left;
	font-size:16px;
	color:#333;	
}
.rel_wx span{
	float:right;
	color:#666;
	font-size:16px;
}
.base_info{
	background:#FFF;
	margin-top:10px;
	border-top:1px solid #b7c4cd;	
}
.base{	
	padding:0 3%;
	height:40px;
	line-height:40px;	
	border-bottom:1px solid #b7c4cd;	
}
.base p{
	float:left;
	font-size:16px;
	color:#333;		
}
.base_input{
	float:right;
	color:#999;
	font-size:16px;
	width:50%;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;	
	height:28px;
	line-height:28px;
	font-family:"微软雅黑", "Microsoft Yahei";
	background:#f1f1f1;
	border-radius:5px;
	margin-top:6px;
	padding-right:3%;
}
.select_input{
	float:right;
	color:#999;
	font-size:16px;
	width:53%;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;	
	height:28px;
	line-height:28px;
	font-family:"微软雅黑", "Microsoft Yahei";
	background:#f1f1f1;
	border-radius:5px;
	margin-top:6px;
	padding-left:3%;
}
.base span{
	float:right;
	color:#999;
	font-size:16px;
	width:50%;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
		
}
.base_demand,.base_remark{
	height:35px;
	line-height:35px;
	padding:0 3%;
	width:94%;
	background:#eff3f6;	
	border-bottom:1px solid #b7c4cd;	
}
.base_demand p,.base_remark p{
	float:left;
	color:#b7c4cd;	
	font-size:14px;
}
.demand_info{
	background:#FFF;		
}
.remark_info{
	background:#FFF;
}
.remark_info textarea{
	width:94%;
	background:#FFF;
	padding:3%;
	color:#999;
	font-size:16px;
	resize:none;
}	
.rel_submit{
	margin-top:35px;
	height:40px;
	line-height:40px;
	background:#FFF;
	text-align:center;
	border-top:1px solid #b7c4cd;
	border-bottom:1px solid #b7c4cd;
}
.rel_btn{
	background:#FFF;
	font-size:16px;
	color:#333;
	font-weight:bold;
	outline:none;
	letter-spacing:2px;
}

/*修改信息*/
.name_box{
	margin-top:10px;
	background:#FFF;
	border-top:1px solid #b7c4cd;	
	border-bottom:1px solid #b7c4cd;		
}
.name_input{
	padding:0 3%;
	height:40px;
	line-height:40px;
	width:94%;
	font-size:16px;	
	font-family:"微软雅黑", "Microsoft Yahei";
	color:#333;	
}
.sex_box{
	border-bottom:1px solid #b7c4cd;
}

/*我要留言*/
.msg{
	border-bottom:1px solid #b7c4cd;	
}
.msgclass{
	width:94%;
	height:80px;	
	outline:none;
	resize:none;
	background:#FFF;
	color:#333;
	line-height:1.5;
	padding:10px;	
	font-size:16px;
}