/*全网云店（生成后）*/
.cloudShopBox{width: 958px;border: 1px solid #dedede;border-radius: 3px;overflow: hidden;padding: 20px;margin-top: 20px;background: url(../img/cloudShop_bg.png) 0 0 no-repeat;background-size: 100%;background-position: top;height: 475px;background-color: #FFF;}
.installBox{margin-top: 70px;overflow: hidden;}
.installBox ul li{width: 150px;height: 190px;margin: 0 20px;float: left;font-size: 0;}
.installBox ul li p{height: 30px;line-height: 30px;margin-top: 10px;text-align: center;color: #29abe2;font-size: 14px;}
.illustrationBox{margin-top: 50px;margin-left: auto;margin-right: auto;width: 450px;height: 165px;overflow: hidden;}
.illustrationBox p{color: #333;font-size: 14px;line-height: 1.5;letter-spacing: 5px;word-break: break-word;height: 165px;overflow: hidden;}

/*全网云店（未生成）*/
.uninstallBox{margin-top: 70px;overflow: hidden;}
.uninstallBox ul li{width: 150px;height: 190px;margin: 0 20px;float: left;font-size: 0;position: relative;}
.uninstallBox ul li img{position: relative;z-index: 9;}
.uninstallBox ul li p{height: 30px;line-height: 30px;margin-top: 10px;text-align: center;color: #999;font-size: 14px;}
.installBtnBox{text-align: center;margin-top: 60px;}
.installBtnBox button{width: 240px;height: 50px;border-radius: 5px;background: #29ABE2;color: #fff;text-align: center;font-size: 14px;font-weight: bold;outline: 0;letter-spacing: 2px;}


/*water animation*/
.loading {
	font-size: 0;
}

@keyframes wave-animation {
	0% {
		background-position: 0 bottom;
	}
	100% {
		background-position: 200px bottom;
	}
}

@keyframes loading-animation {
	0% {
		background-size: 200px 0px;
	}
	100% {
		background-size: 200px 200px;
	}
}

.wave {
	-moz-background-clip: initial;
	-o-background-clip: initial;
	-webkit-background-clip: initial;
	background-clip: initial;
	display: inline-block;
	color: transparent;
	text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
	/*animation: wave-animation 1s infinite linear, loading-animation 10s linear;*/
	background-repeat: repeat-x;
	background-size: 0;
	opacity: 1;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 150px;
	z-index: 1;
	background-color: #eeeeee;
}