/*移动端*/

/*店铺主页-当前模版*/
.currentBox{width: 958px;background: #FFF;border: 1px solid #dedede;border-radius: 0 3px 3px 3px;overflow: hidden;border-top: none;padding: 20px;}
.currentLeftBox{float: left;}
.currentBg{width: 250px;height: 445px;background-repeat: no-repeat;background-size: cover;background-position: center;}
.currentRigthBox{margin-left: 30px;float: left;}
.textBox{height: 30px;line-height: 30px;overflow: hidden;margin-top: 15px;}
.textBox p{float: left;width: 100px;height: 30px;text-align: right;font-size: 12px;color: #999;margin-right: 15px;}
.textBox span{float: left;color: #333;font-size: 12px;max-width: 400px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.btnCopy{color: #29ABE2;margin-left: 20px;background: none;height: 30px;font-size: 12px;outline: 0;cursor: pointer;}
.qrCodeBox{margin-left: 115px;margin-top: 40px;}
.qrCodeBox:after{content: "";visibility:hidden; display:block; font-size:0;clear:both;height: 0;}
.qrCodeEachBox{float: left;margin-right: 80px;text-align: center;}
.qrCodeShadow{padding: 10px;border-radius: 20px;box-shadow: 0px 0px 15px #f1f1f1;-moz-box-shadow: 0px 0px 5px #f4f3f3; /* 老的 Firefox */}
.qrCode{width: 130px;height: 130px;background-repeat: no-repeat;background-size: cover;background-position: center;}
.qrCodeEachBox span{color: #999;font-size: 12px;margin-top: 20px;display: block;}
.currentBtnBox{margin-left: 115px;margin-top: 40px;}
.currentBtnBox button{width: 100px;height: 30px;border-radius: 3px;background: #29ABE2;color: #FFF;cursor: pointer;font-size: 12px;font-weight: bold;outline: none;}

/*店铺主页-模版库*/
.tempBox{width: 958px;background: #FFF;border: 1px solid #dedede;border-radius: 0 3px 3px 3px;overflow: hidden;border-top: none;padding: 20px;}
.tempBox ul li{width: 180px;height: 300px;overflow: hidden;margin-right: 14px;margin-bottom: 15px;float: left;position: relative;}
.tempBox ul li:nth-child(5n){margin-right: 0;}
.tempHover{position: absolute;left: 0;bottom: 0;width: 160px;;height: 40px;background: rgba(0,0,0,.5);padding: 0 10px;display: none;}
.tempHover p{line-height: 40px;float: left;font-size: 12px;color: #FFF;font-weight: bold;}
.tempActions{float: right;margin-top: 7.5px;}
.tempActions .btnUse{height: 25px;padding: 0 10px;text-align: center;float: left;border-radius: 3px;background: #29ABE2;color: #FFFFFF;font-size: 12px;font-weight: bold;letter-spacing: 1px;cursor: pointer;outline: none;}
.tempActions .btnEdit{height: 25px;padding: 0 10px;text-align: center;float: left;margin-left: 8px;border-radius: 3px;background: #FFF;color: #333;font-size: 12px;font-weight: bold;letter-spacing: 1px;cursor: pointer;outline: none;}
.tempBox ul li:hover .tempHover{display: block;}

/*店铺主页-编辑*/
.templateBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 0 3px 3px 3px;overflow: hidden;border-top: none;padding-top: 20px;}
.tempLeftBox{position: relative;float: left;}
.tempRightBox{position: relative;float: left;margin-left: 40px;}
.iphoneBox{margin-left: 40px;}
.iphoneTopBox{background: url(../img/iphone_top.png) 0 0 no-repeat;background-size: cover;width: 309px;height: 74px;}
.iphoneMidBox{overflow: hidden;}
.iphoneMidLeftBox{background: url(../img/iphone_left.png) 0 0 repeat;width: 18px;min-height: 482px;float: left;}
.iphoneContentBox{width: 270px;min-height: 478px;border: 2px solid #000;float: left;border-radius: 3px;}
.iphoneMidRightBox{background: url(../img/iphone_right.png) 0 0 repeat;width: 18px;min-height: 482px;float: left;}
.iphoneBottomBox{background: url(../img/iphone_bottom.png) 0 0 no-repeat;background-size: cover;width: 309px;height: 74px;}





.wxTopBox p{color: #FFF;font-size: 15px;letter-spacing: 1.5px;position: absolute;left: 0;right: 0;top: 20px;margin: 0 auto;width: 60%;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.fixHeightBox{height: 120px;position: relative;clear: both;}
.tempFixedBox{position: fixed;bottom: 0px;background: #FFF;width: 976px;border: 1px solid #E8E8E8;box-shadow: 0 0 10px 0 rgba(0,0,0,.15);padding: 10px;z-index: 99;}
.tempActionsBox{overflow: hidden;padding-bottom: 10px;border-bottom: 1px solid #dedede;}
.tempActionsBox li{float: left;width: 100px;padding: 5px;margin-right: 5px;cursor: pointer;}
.tempActionsBox li:hover{background: #f1f1f1;}
.tempActionsBox li i{width: 14px;height: 14px;background-size: cover;margin-top: 3px;margin-right: 5px;float: left;}
.tempIconSetting{background: url(../img/icon_setting.png) 0 0 no-repeat;}
.tempIconPlus{background: url(../img/icon_plus.png) 0 0 no-repeat;}
.tempActionsBox li p{font-size: 14px;color: #333333;height: 20px;line-height: 20px;}
.tempBtnBox{margin: 15px 0 5px 0;text-align: center;}
.tempBtnBox .btnSave{width: 100px;height: 30px;border-radius: 3px;background: #29ABE2;color: #FFF;cursor: pointer;font-size: 12px;font-weight: bold;outline: none;margin: 0 15px;}

/*店铺导航*/
.shopNavBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 3px;overflow: hidden;padding: 20px 0;margin-top: 20px;}
.navLeftBox{float: left;position: relative;}
.iphoneBg{width: 400px;height: 700px;background: url(../img/bg_iphone.png) 0 0 no-repeat;background-size: cover;}
.screenBox{width: 271px;height: 481px;position: absolute;left: 60px;top: 78px;}
.navScreenBox{height: 45px;width: 100%;background: #FFF;position: absolute;bottom: 0;box-shadow:0px -5px 15px #e9e9e9;}
.navRightBox{float: left;}
.navRightTopBox{padding: 20px 0;border-bottom: 1px dashed #dedede;margin-top: 50px;}
.navRightTopBox .inputBox{line-height: 30px;margin-bottom: 5px;overflow: hidden;}
.navRightTopBox .inputBox p{width: 160px;float: left;text-align: right;color: #999999;}
.inputRightBox{float: left;margin-left: 20px;width: 388px;}
.checkBox{float:left;background-image: url(../img/icon_Checkbox.png);background-repeat: no-repeat;background-position: -16px 0;width:16px;height:16px;margin-top:7px;margin-right:10px;}
.checkon {background-position: 0 0;background-image: url(../img/icon_Checkbox.png);}
.checkboxClass {cursor: pointer;position:absolute;width:16px;height:16px;opacity:0;}
.radioBox{float:left;background-image: url(../img/icon_Radio.png);background-repeat: no-repeat;background-position: -16px 0;width:16px;height:16px;margin-top:7px;margin-right:10px;}
.on {background-position: 0 0;background-image: url(../img/icon_Radio.png);}
.radioClass {cursor: pointer;position:absolute;width:16px;height:16px;opacity:0;}
.inputRightBox label{float: left;font-size: 12px;color: #333333;margin-right: 20px;width: 80px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-bottom: 5px;}
.navRightBottomBox{overflow: hidden;margin-top: 25px;}
.navAddBox{width: 235px;overflow: hidden;border: 1px solid #dedede;float: left;}
.navAddBox ul li{height: 50px;line-height: 50px;border-bottom: 1px solid #DEDEDE;cursor: pointer;}
.navAddBox ul li p{margin-left: 15px;float: left;color: #333;font-size: 14px;}
.navAddBox ul li .liOperation{float: right;margin-right: 10px;}
.navAddBox ul li .liOperation button{background: none;font-size: 14px;outline: 0;cursor: pointer;float: left;height: 50px;}
.liOperation button.btnAdd{color: #29ABE2;}
.liOperation button.btnDelete{color: #999;}
.liOperation button.btnClickDelete{color: #ff6760 !important;}
.liOperation span{margin: 0 10px;float: left;color: #999;}
.addNavBtn{height: 50px;text-align: center;}
.addNavBtn button{background: none;font-size: 14px;color: #ff964b;outline: 0;cursor: pointer;height: 50px;letter-spacing: 1px;}
.navSetting{float: left;margin-left: 30px;margin-top: 12px;overflow: hidden;width: 300px;display: none;}
.navSetting:first-child{display: block;}
.navSetting .inputBox{line-height: 28px;margin-bottom: 20px;overflow: hidden;}
.navSetting .inputBox p{float: left;width: 80px;color: #999;font-size: 12px;text-align: right;margin-right: 10px;}
.navSetting .inputBox select{padding-left: 10px;width: 200px;height: 26px;border: 1px solid #dedede;border-radius: 3px;color: #333;font-size: 12px;}
.navSetting .inputBox input[type="text"]{padding-left: 10px;width: 190px;height: 26px;border: 1px solid #dedede;border-radius: 3px;color: #333;font-size: 12px;}
.navIconBox{height: 40px;width: 40px;border: 1px solid #dedede;border-radius: 3px;padding: 10px;float: left;}
.navIconBox .navIcon{width: 40px;height: 40px;background-repeat: no-repeat;background-position: center;background-size: cover;}
.navSelected{border-left: 2px solid #ff964b;margin-left: 0px;}
.navSelected p{margin-left: 13px !important;}
.navCopy{overflow: hidden;}
.navBtnBox{margin-top: 40px;}
.navBtnBox .btnSave{width: 100px;height: 30px;border-radius: 3px;background: #29ABE2;color: #FFF;cursor: pointer;font-size: 12px;font-weight: bold;outline: none;}

/*会员主页*/
.userBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 3px;overflow: hidden;padding: 20px 0;margin-top: 20px;}
.userLeftBox{float: left;position: relative;}
.userScreenBox{height: 45px;width: 100%;background: #FFF;position: absolute;bottom: 0;box-shadow:0px -5px 15px #e9e9e9;}
.userRightBox{float: left;}
.userRightTopBox{padding: 20px 0;border-bottom: 1px dashed #dedede;width: 595px;}
.userRightTopBox .inputBox{line-height: 30px;margin-bottom: 5px;overflow: hidden;position: relative;}
.userRightTopBox .inputBox p{width: 80px;float: left;text-align: right;color: #999999;margin-right: 25px;}
.userRightTopBox .inputBox label{color: #333;}
.defaultImg{width: 100px;height: 50px;background-position: center;background-size: cover;background-repeat: no-repeat;float: left;margin-top: 9px;}
.inputBox input[type='file']{width: 100px;height: 50px;position: absolute;bottom: 0;left: 105px;right: 0;outline: 0;cursor: pointer;opacity: 0;}
.userRightBottomBox{overflow: hidden;margin-top: 25px;}
.userCenterBox{margin-left: 30px;float: left;}
.userTitleBox{height: 30px;line-height: 30px;margin-left: 10px;}
.userTitleBox p{font-size: 14px;color: #333;font-weight: bold;}
.userCenterBox .inputBox{line-height: 30px;margin-bottom: 5px;overflow: hidden;position: relative;}
.userCenterBox .inputBox p{width: 100px;float: left;text-align: right;color: #999999;margin-right: 25px;}
.userCenterBox .inputBox label{color: #333;}
.distributorCenterBox{margin-left: 80px;float: left;}
.distributorCenterBox .inputBox{line-height: 30px;margin-bottom: 5px;overflow: hidden;position: relative;}
.distributorCenterBox .inputBox p{width: 100px;float: left;text-align: right;color: #999999;margin-right: 25px;}
.distributorCenterBox .inputBox label{color: #333;}
.userBtnBox{margin-top: 20px;margin-left: 25px;}
.userBtnBox .btnSave{width: 100px;height: 30px;border-radius: 3px;background: #29ABE2;color: #FFF;cursor: pointer;font-size: 12px;font-weight: bold;outline: none;}
.wxScreenBox{width: 271px;height: 481px;position: absolute;left: 60px;top: 77px;background: #f7f7f7;overflow: auto;cursor: pointer;}
.wxTopBox{font-size: 0;position: relative;}
.userTopBox{height: 70px;padding: 30px 10px;background-repeat: no-repeat;background-size: cover;background-position: center;}
.userImg{height: 70px;width: 70px;border-radius: 70px;background-repeat: no-repeat;background-size: cover;background-position: center;float: left;}
.userInfo{margin-left: 15px;float: left;line-height: 1.5;}
.userInfo p{font-size: 12px;color: #fff;}
.userInfo span{color: #F67B14;font-size: 12px;}
.userTab{height: 36px;border-bottom: 1px solid #eee;background: #FFF;}
.userTab ul li{height: 36px;width: 30%;margin: 0 10%;line-height: 36px;float: left;text-align: center;cursor: pointer;color: #999;font-size: 12px;letter-spacing: 2px;}
.userTabCur{border-bottom: 2px solid #29ABE2;box-sizing: border-box;color: #666 !important;}
.userTabBox{margin-top: 10px;}
.userMidBox{height: 55px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;background: #FFF;}
.userMidBox ul li{height: 55px;width: 25%;float: left;text-align: center;cursor: pointer;}
.userMidBox ul li img{margin-top: 8px;}
.userMidBox ul li p{color: #666;}
.userBottomBox{margin-top: 10px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding: 0 10px;background: #FFF;}
.userBottomBox ul li{height: 30px;line-height: 30px;border-bottom: 1px solid #eee;}
.userBottomBox ul li:last-child{border-bottom: none;} 
.userBottomBox ul li img{float: left;margin-top: 7.5px;margin-right: 10px;}
.userBottomBox ul li p{float: left;color: #333;font-size: 12px;letter-spacing: 1px;}

/*自定义挺有模块*/
.moduleBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 3px;margin-top: 20px;}
.moduleBox:after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
.moduleTopBox{padding: 20px 20px 0;overflow: hidden;}
.btnHref{height: 30px;line-height: 30px;width: 100px;text-align: center;color: #FFFFFF;background: #29abe2;outline: 0;border-radius: 3px;font-weight: bold;margin-bottom: 20px;}
.moduleTopBox .inputBox{height: 30px;line-height: 30px;margin-bottom: 20px;}
.moduleTopBox .inputBox p{float: left;text-align: right;color: #999999;margin-right: 5px;}
.moduleTopBox .inputBox input{width: 190px;height: 28px;line-height: 28px;border: 1px solid #DEDEDE;border-radius: 3px;padding-left: 10px;color: #666;float: left;}
.btnSearch{height: 30px;width: 100px;text-align: center;color: #FFFFFF;background: #29abe2;outline: 0;border-radius: 3px;font-weight: bold;cursor: pointer;float: left;margin-left: 40px;}
.moduleList{height: 54px;line-height: 54px;background: #eeeeee;}
.moduleList p{font-size: 12px;color: #666666;float: left;margin-left: 20px;}
.moduleLi{}
.moduleLi ul li:nth-child(even){height: 54px;line-height: 54px;background: #f4fbff;}
.moduleLi ul li:nth-child(odd){height: 54px;line-height: 54px;background: #FFFFFF;}
.moduleLi ul li > strong{font-size: 12px;color: #333333;float: left;margin-left: 20px;overflow: hidden;}
.moduleLi ul li > p{font-size: 12px;color: #666666;float: left;margin-left: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.moduleLi ul li > p > input{width: 15px;height: 15px;margin-left: 5px;margin-top: 20px;float: left;outline: 0;}
.moduleLi .liOperation{width: 300px;float: left;height: 54px;line-height: 54px;margin-left: 20px;position: relative;}
.moduleLi .liOperation img{margin: 20.5px 10px 20.5px 0;float: left;}
.moduleLi .liOperation p{color: #666666;margin-right: 20px;float: left;cursor: pointer;}
.moduleLi .liOperation button{float: left;color: #666666;height: 54px;margin-left: 0;margin-right: 20px;}
.moduleBtnBox{margin-top: 20px;}
.btnCommon{height: 30px;padding: 0 20px;text-align: center;color: #FFFFFF;background: #29abe2;outline: 0;border-radius: 3px;font-size: 12px;font-weight: bold;cursor: pointer;float: left;margin-right: 8px;letter-spacing: 2px;}
.hoverQrcode{position: absolute;right: 0;top: 40px;padding: 10px;background: #f7f7f7;border-radius: 5px;z-index: 9;display: none;}
.bgQrcode{width: 70px;height: 70px;background-position: center;background-size: cover;background-repeat: no-repeat;}

/*新建自定义通用模块*/
.moduleLeftBox{position: relative;}
.moduleMidBox{padding: 0 20px;overflow: hidden;padding-bottom: 40px;border-bottom: 1px solid #dedede;}
.moduleMidBox .btnDrag{height: 30px;padding: 0 15px;text-align: center;color: #FFFFFF;background: #29abe2;outline: 0;border-radius: 3px;font-size: 12px;font-weight: bold;cursor: pointer;float: left;margin-left: 30px;letter-spacing: 2px;}
.moduleBottomBox{height: 80px;line-height: 80px;text-align: center;}
.moduleBottomBox .btnSave{width: 100px;height: 30px;border-radius: 3px;background: #29ABE2;color: #FFF;cursor: pointer;font-size: 12px;font-weight: bold;outline: none;margin: 0 15px;}
.moduleBottomBox .btnCancel{width: 100px;height: 30px;border: 1px solid #dedede;border-radius: 3px;background: #FFF;color: #29ABE2;cursor: pointer;font-size: 12px;font-weight: bold;outline: none;margin: 0 15px;}

/*商品详情公共页 （同上）*/

/*商品限购提示页 */
.noticeBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 3px;margin-top: 20px;padding: 20px 0;}
.noticeBox:after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
.noticeLeftBox{position: relative;float: left;}
.noticeRightBox{float: left;margin-top: 75px;}
.noticeDragBox{padding: 15px;}
.noticeBtnBox{margin-top: 30px;}
.noticeBtnBox .btnSave{width: 100px;height: 30px;border-radius: 3px;background: #29ABE2;color: #FFF;cursor: pointer;font-size: 12px;font-weight: bold;outline: none;}
