/*技能树*/
.contentBox{width: 1000px;margin: 0 auto;overflow: hidden;}

.subhead{width: 100%;height: 100px;background: #b9d5e0;}
.subheadBox{width: 1000px;height: 100px;margin: 0 auto;display: table;}
.subhead-leftBox{width: 70px;height: 70px;float: left;background: url(../img/subhead-icon.jpg) 0 0 no-repeat;background-size: cover;margin-top: 15px;}
.subhead-rightBox{margin-left: 25px;width: 885px;display: table-cell;vertical-align: middle;overflow: hidden;}
.subhead-rightBox p{font-size: 16px;color: #FFF;line-height: 1.6;}
.subhead-rightBox span{font-size: 12px;color: #FFF;line-height: 1.6;}

.skill{margin-top: 25px;}
.skill .title{height: 30px;line-height: 30px;border-bottom: 2px solid #b6b6b6;}
.skill .title p{color: #000;font-size: 16px;}
.skillBox{border: 2px solid #d3d3d3;border-radius: 8px;padding: 30px;background: #FFF;margin-top: 20px;position: relative;}
.skill-topBox{padding-bottom: 30px;border-bottom: 2px solid #b6b6b6;}
.skill-topBox p{color: #4c4c4c;font-size: 14px;text-align: center;line-height: 1.8;}
.skill-topBox h1{color: #4c4c4c;font-size: 18px;text-align: center;line-height: 1.8;margin-top: 15px;}
.skill-choose{margin-top: 25px;}
.skill-choose ul{width: 928px;margin: 0 auto;}
.skill-choose li{float: left;margin: 0 8px;cursor: pointer;position: relative;}
.skill-choose li img{width: 100px;height: 150px;background-size: cover;background-position: center;background-repeat: no-repeat;border-radius: 5px;}
.skill-choose li input[type='checkbox']{position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 2;opacity: 0;filter:alpha(opacity=0);-moz-opacity:0;}
.skill-choose-title{position: absolute;left: 0;bottom: 0;width: 100%;height: 30px;line-height: 30px;text-align: center;color: #FFF;font-size: 12px;background: rgba(0,0,0,.6);border-radius: 0 0 5px 5px;}
.skill-checkedBox{position: absolute;left: -3px;top: -11px;width: 113px;height: 164px;background: url(../img/skill-chosen.png) 0 0 no-repeat;background-size: cover;display: none;}
.skill-bottomBox{margin-top: 20px;position: relative;}
#skill-base-content{overflow: hidden;width: 855px;margin: 0 auto;}
#skill-base-content ul:first-child{margin: 0;}
#skill-base-content ul{overflow: hidden;float: left;margin-left: 60.7px;}
#skill-base-content ul li{width: 19px;float: left;color: #666;font-size: 12px;margin: 0 5.8px;text-align: center;}
.skill-analysis{margin-top: 20px;}
.skill-analysis-title{display: block;text-align: center;line-height: 1.8;margin: 10px 0;}
.skill-analysis-title p{font-size: 14px;color: #666;}
.skill-analysis-result{text-align: center;}
.skill-analysis-result button{width: 120px;height: 28px;border-radius: 5px;background: #c9cdd9;outline: none;color: #333;font-size: 12px;display: inline-block;margin: 0 5px 10px;}
.skill-btnBox{text-align: center;margin: 20px 0;}
button.btn-changeSkills{padding: 0 15px;height: 40px;border-radius: 5px;background: #5ba0ce;outline: none;color: #FFF;font-size: 14px;}