@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{ height:100%;width:100%;background:url(../images/bottom_bg.jpg) repeat-x;background-position:bottom;}
p,li,a{font-family:"微软雅黑";font-size:16px;}
a{text-decoration:none;}
/*************顶部***************/
.header{position:relative;top:0;width:1200px;margin:0 auto;height:74px;}
.log{position:absolute;left:0;width:163px;height:48px;margin:11.5px 0;}
.log img{width:100%;height:100%}
.navigation{position:absolute;left:240px;width:600px;height:75px;}
.navigation ul{margin:0;}
.navigation ul a{text-decoration:none;color:#333;}
.navigation ul li{float:left;list-style-type:none;width:150px;text-align:center;padding:15px 0;}
.navigation ul li span{color:#999;font-size:12px;}
.navigation ul li:hover {background:#3ba3c8;color:#fff;}
.navigation ul li:hover span {color:#fff;}



.right_img{position:absolute;right:0;top:0;width:276px;height:74px;background:#3ba3c8;}
.right_img p{text-align:center;margin:0;padding:25px 0;color:#FFF;font-size:18px;}
/**********轮播图部分*************/
.carousel_img_{max-width:100%;min-width:1300px;height:865px;position:relative;}

#carousel_img_1{width:100%;height:865px;background:url(../images/index_banner01.jpg) no-repeat;background-size:100% 100%;}
#carousel_img_2{width:100%;height:865px;background:url(../images/venue_1.jpg) no-repeat;background-size:100%;}
#carousel_img_3{width:100%;height:865px;background:url(../images/venue_2.jpg) no-repeat;background-size:100%;}
#carousel_img_4{width:100%;height:865px;background:url(../images/venue_3.jpg) no-repeat;background-size:100%;}
#carousel_img_1,#carousel_img_2,#carousel_img_3,#carousel_img_4{position:absolute;left:0;top:0;}
.hidden{display:none;}
.show{display:block;}

.carousel_imgd{width:100%;height:865px;}
.carousel_img{max-width:100%;min-width:1200px;height:865px;background:url(../images/index_banner01.jpg) no-repeat;}
.carousel_img_s{top:0;margin:0 auto;width:1200px;height:865px;z-index:999;}
.left_image{position:absolute;top:386px;margin:0 0 0 -36px;width:36px;height:68px;background:url(../images/L.png) no-repeat;}
.left_image:hover{background:url(../images/L_hover.png) no-repeat;}
.carousel_img_f{position:absolute;top:315px;margin:0 246px;width:708px;height:194px;}
.right_image{position:absolute;top:386px;margin:0 0 0 1200px;width:36px;height:68px;background:url(../images/R.png) no-repeat;}
.right_image:hover{background:url(../images/R_hover.png) no-repeat;}
.more_button{position:absolute;top:550px;margin:0 505px;width:190px;height:45px;background:rgba(59,163,200,0.8); -moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px;}
.more_button:hover{background:rgba(59,163,200,1);}
.more_button p{text-align:center;font-size:14px;color:#fff;line-height:14px;padding:12px 0;}
.more_button p span{font-size:20px;}
/**********展示部分*************/
.middle_img{position:relative;top:0px;width:1200px;margin:0 auto;height:430px;}

.middle_img_f{position:absolute;top:90px;left:0px;width:386px;height:261px;}
.back_border_f{width:386px;height:169px;background:url(../images/mode_pic1.png) no-repeat;z-index:-1;}
.middle_img_f_1{position:absolute;top:90px;left:0px;width:386px;height:261px;}
.back_border_1{width:386px;height:169px;background:rgba(0,0,0,0.8);z-index:1;}
.back_border_1 img{margin:20px 175px;}
.back_border_1 dl{text-align:center;}
.dd_c{color:#FFF;}.dd_i{color:#929292;}

.middle_img_s{position:absolute;top:90px;left:408px;width:386px;height:261px;}
.back_border_s{width:386px;height:169px;background:url(../images/mode_pic2.png) no-repeat;z-index:-1;}
.middle_img_s_1{position:absolute;top:90px;left:408px;width:386px;height:261px;}
.back_border_2{width:386px;height:169px;background:rgba(0,0,0,0.8);z-index:1;}
.back_border_2 img{margin:20px 175px;}
.back_border_2 dl{text-align:center;}

.middle_img_t{position:absolute;top:90px;right:0px;width:386px;height:261px;}
.back_border_t{width:386px;height:169px;background:url(../images/mode_pic3.png) no-repeat;z-index:-1;}
.middle_img_t_1{position:absolute;top:90px;right:0px;width:386px;height:261px;}
.back_border_3{width:386px;height:169px;background:rgba(0,0,0,0.8);z-index:1;}
.back_border_3 img{margin:20px 175px;}
.back_border_3 dl{text-align:center;}

.middle_img_f p{padding-top:39px;padding-bottom:39px;text-align:center;font-size:14px;color:#333;}
.middle_img_s p,.middle_img_t p{padding-top:39px;padding-bottom:39px;;text-align:center;font-size:14px;color:#333;}
/**********底部*************/
.bottom_icon{position:relative;top:0px;margin:0 auto;width:1200px;height:250px;}
.bottom_icon_l{position:absolute;top:84px;left:0px;width:690px;height:145px;border-style:none dashed none none;border-color:#cccccc;border-width:1px;}
.bottom_icon_l ul{}
.bottom_icon_l ul li{float:left;list-style-type:none;width:90px;height:90px;margin-right:80px;}
.bottom_icon_l ul li img{width:100%;height:100%}
.bottom_icon_l ul p{text-align:center;margin:10px 0 0;}
.second_ma{position:absolute;top:70px;left:690px;margin:0px 50px 0px;width:139px;height:151px;}
.second_ma img{width:139px;height:139px}
.second_ma p{text-align:center;font-size:12px;margin:0}
.call_phone{position:absolute;top:84px;right:0px;width:215px;height:65px;}
.call_phone dl{font-size:20px;font-weight:bold;text-align:center;}
.call_phone dl a{text-decoration:none;font-size:30px;font-weight:bold;color:#3ba3c8;}
.hotline{position:absolute;top:160px;right:0px;width:215px;height:45px;background:url(../images/bottom_on.png) no-repeat;border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px;}
.hotline:hover{background:url(../images/bottom_hover.png) no-repeat}
.bottom_f{position:relative;width:1300px;height:75px;margin:0 auto;padding:70px 0 0px;border-style:dashed none none none;border-color:#cccccc;border-width:1px;}
.bottom_f p{text-align:center;font-size:12px;height:0px;}