/*section*/
.section-wrap{ width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}
.section-wrap .section{ position:relative; width:100%; height:100%; background-position:center center; background-repeat:no-repeat;}
.section-wrap .section-floor-bg:nth-child(odd){background: #FFF;}
.section-wrap .section-floor-bg:nth-child(even){background: #eff4f7;}
.section-top,.section-bottom{background: #FFF;}
/*.section-wrap .section-1{ background-color:#337ab7}
.section-wrap .section-2{ background-color:#5cb85c}
.section-wrap .section-3{ background-color:#5bc0de}
.section-wrap .section-4{ background-color:#f0ad4e}
.section-wrap .section-5{ background-color:#d9534f}*/
/*.put-section-0{ transform:translateY(0);-webkit-transform:translateY(0);}
.put-section-1{ transform:translateY(-100%);-webkit-transform:translateY(-100%);}
.put-section-2{ transform:translateY(-200%);-webkit-transform:translateY(-200%);}
.put-section-3{ transform:translateY(-300%);-webkit-transform:translateY(-300%);}
.put-section-4{ transform:translateY(-400%);-webkit-transform:translateY(-400%);}*/
.section-leftBox{width: 42px;height: 100%;position: fixed;left: 0;top: 0;bottom: 0;display: table;background-color: rgba(0,0,0,.7);z-index: 9;}
.section-btn{display: table-cell;vertical-align: middle;position: relative;}
.section-btn li{width: 42px;height: 34px;line-height: 34px;cursor: pointer;margin: 10px 0;position: relative;text-align: center;}
.section-btn li p{color: #808080;font-size: 16px;position: relative;z-index: 2;}
.section-selected{background: url(../img/nav-selected.png) 0 0 no-repeat;background-size: cover;background-position: center;position: absolute;top: 0;width: 100px;height: 34px;z-index: 1;}
.section-selected-p{color: #FFF !important;}

/*banner*/
.flexslider {margin: 0px auto;position: relative;width: 100%;height: 400px;overflow: hidden;zoom: 1;}
.flexslider .slides li {width: 100%;height: 100%;}
.flex-direction-nav a {width: 70px;height: 70px;line-height: 99em;overflow: hidden;margin: -35px 100px 0 100px;display: block;background: url(../img/arrow.png) no-repeat;position: absolute;top: 50%;z-index: 10;cursor: pointer;opacity: 0;filter: alpha(opacity=0);-webkit-transition: all .3s ease;border-radius: 35px;}
.flex-direction-nav .flex-next {background-position: 0 -70px;right: 0;}
.flex-direction-nav .flex-prev {left: 0;}
.flexslider:hover .flex-next {opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-prev {opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover {opacity: 1;filter: alpha(opacity=50);}
.flex-control-nav {width: 100%;position: absolute;bottom: 10px;text-align: center;}
.flex-control-nav li {margin: 0 2px;display: inline-block;zoom: 1;*display: inline;}
.flex-control-paging li a {background: url(../img/dot.png) no-repeat 0 -16px;display: block;height: 16px;overflow: hidden;text-indent: -99em;width: 16px;cursor: pointer;}
.flex-control-paging li a.flex-active,.flex-control-paging li.active a {background-position: 0 0;}
.flexslider .slides a img {width: 100%;height: 400px;display: block;}

/*introduce*/
.introduce{width: 820px;margin: 0 auto;display: table;height: 250px;}
.introduce ul{display: table-cell;overflow: hidden;vertical-align: middle;}
.introduce ul li{display: inline-block;width: 150px;text-align: center;margin: 0 60px;}
.introduce ul li img{margin: 0 29px;}
.introduce ul li p{font-size: 18px;font-weight: bold;letter-spacing: 5px;margin: 15px 0;color: #333;}
.introduce ul li span{font-size: 12px;line-height: 1.5;color: #999;}

/*floor*/
.section-floor{display: table;width: 1000px;margin: 0 auto;}
.floorBox{display: table-cell;vertical-align: middle;}
.floor-leftBox{float: left;height: 380px;width: 400px;overflow: hidden;padding-top: 20px;}
.floor-leftBox h1{font-size: 24px;color: #333333;font-weight: bold;display: block;letter-spacing: 2px;}
.floor-leftBox h1 strong{font-size: 26px;position: relative;top: 2px;}
.floor-leftBox p{color: #333;font-size: 12px;line-height: 2;word-break: break-all;margin-top: 45px;max-height: 200px;overflow: hidden;}
.floor-leftBox p:first-letter{display: block;margin: 0px 10px 0px 0;float: left;color: #000;font-size: 50px;line-height: normal;}
.floor-leftBox button{height: 40px;padding: 0 15px;background: #7fa7bf;outline: none;color: #FFF;font-size: 16px;margin-top: 45px;}
.floor-rightBox{overflow: hidden;float: left;}

