/******通用样式******/
*{margin:0;padding:0;border:0}
html,body {margin:0px;padding:0;font-family:"微软雅黑", "Microsoft Yahei","楷体", "KaiTi",Arial, Helvetica, sans-serif;font-size:12px;color: #333333;}
div,img {margin:0px;padding:0;border:0px;}
ul,li{list-style-type:none;}
a{text-decoration:none;cursor:pointer;}
.contain{
	position:relative;
}
.no_border{
	border:0 !important;	
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999;
}

/******top******/
.top_box{
	width: 100%;
	height: 130px;
	background: #FFF;
	-moz-box-shadow: 0px 15px 10px -15px #d0e7f5; /* 老的 Firefox */
	box-shadow:0px 15px 10px -15px #d0e7f5;	
}
.top_bg{
	height: 30px;
	background:#313131;
}
.top_black{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.top_black_left{
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	float: left;
}
.top_city{
	float: left;
}
.top_city p{
	color:#FFF;
	float: left;
	margin-right: 10px;
}
.top_city span{
	color:#29abe2;
}
.top_href{
	height: 30px;
	margin-left: 40px;
	float: left;
}
.href_home{
	width: 70px;
	float: left;
}
.href_app{
	width: 80px;
	float: left;
}
.top_href img{
	float: left;
	margin-right: 10px;
	margin-top: 9px;
}
.top_href p{
	color:#FFF;
}
.top_black_right{
	float:right;
}
.top_black_right a{
	color:#FFF;
	height: 30px;
	line-height: 30px;
	float: left;
}
.top_black_right p{
	float: left;
	color: #FFF;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
}
.top_right_operation{
	float: left;
	height: 30px;
	line-height: 30px;
}
.top_right_operation img{
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.top_right_operation p{
	color: #FFF;
	margin-right: 20px;
}
.top_sub{
	color: #FFF;
	height: 100px;
	width: 1200px;
	margin: 0 auto;
}
.top_logo{
	float: left;
	margin-top: 20px;
}
.top_search{
	overflow: hidden;
	width: 535px;
	height: 100px;
	position: relative;
	float: left;
}
.search_div{
	height: 70px;
	position: relative;
	float: left;
}
.input_search{
	width: 430px;
	padding-left: 100px;
	height: 30px;
	line-height: 30px;
	border:2px solid #00a0e9;
	border-radius: 5px;
	color: #666;
	font-size: 12px;
	margin-top: 30px;
	outline: 0;
	position: relative;
	float: left;
	display: block;
}
.btn_search{
	height:34px;
	width:90px;
	position:absolute;
	right:0;
	outline:0;
	font-size:12px;
	color:#FFF;
	background-color:#0071bc;
	border-radius:0 5px 5px 0;
	margin-top: 30px;
	letter-spacing: 1px;
}
.top_select{
	position: absolute;
	left: 2px;
	top: 32px;
	background-color:#f7f7f7;
	color: #333;
	z-index: 1;
	width: 85px;
	height: 30px;
}
.top_select img{
	position:absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.top_select li{
	width: 85px;
	height: 29px;
	line-height: 29px;
	color: #333;
	background-color:#FFF;
	color: #333;
	z-index: 1;
	text-align: center;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
.input_select{
	width: 85px;
	height: 30px;
	background-color:#f7f7f7;
	color: #333;
	position: absolute;
	top: 0;
	background-color:#f7f7f7;
	color: #333;
	z-index: 1;
	text-align: center;
}
.select{
	background-color:#f7f7f7 !important;
}
.keyword{
	height: 30px;
	line-height: 30px;
	float: left;
	width: 535px;
	overflow: hidden;
	
}
.keyword p{
	float: left;
	color:#333333;
	margin-right: 20px;
}
.keyword span{
	color:#29abe2;
	padding: 0 10px;
}
.top_right{
	float: right;
	overflow: hidden;
	height: 75px;
	width: 115px;
	margin-top: 25px;
}
.top_right img{
	float: left;
	margin-right: 10px;
}
.top_right p{
	color:#333;
	height: 21px;
	line-height: 30px;
}
.top_right span{
	color:#0071bc;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}

/******crumb******/
.crumb{
	width: 1200px;
	margin: 0 auto;
	height: 45px;
	border-bottom: 1px dashed #cccccc ;
}
.crumb p{
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	color: #999;
}
.crumb p a{
	color: #999;
}

/******nav******/
.nav_bg{
	height: 36px;
	background:#0071bc;
}
.nav{
	width: 1200px;
	margin: 0 auto;
	height: 36px;
	line-height: 36px;
	position: relative;
}
.li_nav{
	width: 120px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	float: left;
	color: #FFF;
	font-size: 14px;
}
.navli_bg{
	background-image: url(../images/nav_icon.png);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-color: #29abe2;
	width: 162px !important;
	background-position: 10px 9px;
	text-align: left !important;
	padding-left: 38px;
	margin-right: 20px;
	position: relative;
}
.nav_first{
	position: absolute;
	left: 0;
	top: 36px;
	width: 200px;
	z-index: 9;
	background: #FFF;
	opacity: 0.9;
}
.li_first{
	width: 180px;
	height: 60px;
	line-height: 60px;
	z-index: 9;
	text-align: left;
	color:#0071bc;
	font-size: 14px;
	padding: 0 10px;
	background: url(../images/arrow_right.png)0 0 no-repeat;
	background-size: 10px 20px;
	background-position: 180px 20px;
}
.nav_addclass{
	background:#0071bc !important;
	color:#FFF !important;
}
.nav_second{
	position: absolute;
	left: 200px;
	top: 0px;
	width: 400px;
	height: 408px;
	background: #FFF;
	overflow: hidden;
	z-index: 9;
	border: 1px solid #0071bc;
	padding: 5px 20px;
	display: none;
}
.nav_second li{
	color:#0071bc;
	float: left;
	height: 30px;
	line-height: 30px;
	background: #ffa500;
	border-radius: 3px;
	padding: 0 10px;
	color: #FFF;
	margin: 5px ;
}
.buyer,.seller{
	float: left;
}
.buyer,.seller p{
	color: #333333;
	font-weight: bold;
	font-size: 14px;
}

/******notice******/
.notice{
	background:#FFF;
	opacity: 0.8;
	position: absolute;
	right: 0;
	top: 55px;
	overflow: hidden;
	padding: 10px;
	z-index: 9;
	width: 230px;
}
.notice_box{
	overflow: hidden;
	padding: 0 5px;
	height: 36px;
	line-height: 36px;
}
.notice_left{
	float: left;
}
.notice_left p{
	color:#333;
	font-weight: bold;
	font-size: 14px;
	float: left;
}
.notice_left p strong{
	color:#01a442;
}
.notice_left span{
	color:#999;
	font-style: italic;
	font-size: 12px;
	float: left;
	margin-left: 10px;
}
.notice_left img{
	margin-left: 5px;
}
.notice_right{
	float: right;
}
.notice_right p{
	color:#666;
}
.notice_infoall{
	padding: 0 5px;
	overflow: hidden;
	max-height: 216px;
}
.notice_each{
	overflow: hidden;
	height: 36px;
	line-height: 36px;
}
.notice_each img{
	margin-right: 5px;
	float: left;
	margin-top: 12px;
}
.notice_each p{
	color:#333;
	width: 125px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}
.notice_each span{
	color: #666;
	margin-left: 2px;
}
.notice_each a:hover p{
	color: #0071bc;
}
.notice_operation{
	overflow: hidden;
}
.notice_logo{
	float: left;
	height: 65px;
	margin-right: 5px;
}
.notice_log{
	float: left;
}
.notice_log p{
	color: #0071bc;
	width: 125px;
	height: 25px;
	line-height: 25px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.notice_login{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FFF;
	border-radius: 3px;
	background: #0071bc;
	border:2px solid #0071bc;
	outline: 0;
	cursor: pointer;
	font-weight: bold;
}
.notice_register{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #0071bc;
	border-radius: 3px;
	border:2px solid #0071bc;
	outline: 0;
	cursor: pointer;
	background: #FFF;
	font-weight: bold;
}
.notice_btn{
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #FFF;
	border-radius: 3px;
	outline: 0;
	cursor: pointer;
	background: #29abe2;
	font-size: 14px;
	width: 100%;
	font-weight: bold;
}
/******notice end******/

/******banner******/
#kinMaxShow{
	visibility:hidden;
	width:100%; 
	height:420px;
	overflow:hidden;
}
/******banner end******/

/******footer******/
.footer{
	height:400px;
	width:100%;	
	margin-top: 80px;
}
.footer_bgcolor1{
	height:330px;
	width:100%;
	background: #141414;
	position:absolute;
	bottom: 70px;
}
.footer_box1{
	width: 1200px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.footer_left{
	float: left;
	overflow: hidden;
	width: 975px;
}
.footer_list{
	width: 195px;
	overflow: hidden;
	float: left;
}
.footer_title{
	height: 46px;
	overflow: hidden;
	margin-bottom: 30px;
}
.footer_title img{
	float: left;
	margin-right: 10px;
}
.footer_title p{
	color:#FFF;
	font-size: 14px;
	height: 46px;
	line-height: 75px;
}
.footer_list li{
	color: #FFF;
	margin-left: 56px;
	height: 25px;
	line-height: 25px;
}
.footer_list a:hover li{
	color: #29abe2;
}
.footer_right{
	float: right;
	width: 225px;
}
.footer_right p{
	color: #FFF;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}
.footer_right span{
	font-size: 28px;
	color: #FFF;
}
.footer_right img{
	margin-top: 5px;
}
.footer_bgcolor2{
	height:70px;
	width:100%;
	background: #313131;
	position:absolute;
	bottom:0;
}
.footer_box2{
	width: 1200px;
	height:70px;
	line-height: 70px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.footer_box2 p{
	color: #FFF;
	font-size: 12px;
	text-align: center;
}
/******footer end******/

/******side******/
.side{
	position:fixed;
	width:40px;
	height:122px;
	right:0;
	top:64%;
	z-index:100;
	border: 1px solid #d7dde3;
	border-radius: 3px;
	background: #FFF;
}
.side ul li{
	width:40px;
	height:40px;
	float:left;
	position:relative;
	border-bottom:1px solid #d7dde3;
}
.side ul li .sidebox , #moquu_wxin{
	position:absolute;
	width:40px;
	height:40px;
	top:0;
	right:0;
	transition:all 0.3s;
	background:#FFF;
	opacity:0.8;
	filter:Alpha(opacity=80);
	color:#fff;
	font:16px/40px "微软雅黑";
	overflow:hidden;
}
.side ul li .sidetop , .side ul li .sideapp{
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	background:#FFF;
	opacity:0.8;
	filter:Alpha(opacity=80);
	transition:all 0.3s;
}
.side ul li .sidetop:hover , #moquu_wxin:hover , .side ul li .sideapp:hover {
	background:#d2edff;
	opacity:1;
	filter:Alpha(opacity=100);
}
.side ul li img{
	position:relative;
}
.sidetop img{
	top:0px !important;	
}
.sidebox span{
	color:#8e9ca9;
	margin-left:15px;
}
.weixin {
	position: absolute;
	display: none;
	left: -120px;
	top: 0px;
	width: 120px;
	height: 120px;
	background: transparent url("../images/qrcode.png") no-repeat scroll 0px 0px;
}

/******laypage******/
#page{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
}
