/******首页******/
/*floor1*/
.floor1{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.floor1_topbox{
	height: 40px;
	margin-top: 35px;
	border-bottom: 2px solid #0071bc;
}
.floor1_toptitle{
	float: left;
	height: 40px;
}
.floor1_tab{
	float: right;
	height: 40px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.floor1_tab li{
	float: left;
	width: 80px;
	padding: 12px 0;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.floor1_tab li p{
	border-right: 1px solid #dddddd;
}
.tab_select1{
	border-left: 1px solid #0071bc;
	border-right: 1px solid #0071bc;
	border-top: 5px solid #0071bc;
	border-bottom: 1px solid #FFF;
	background: #FFF;
	margin-top: -1px;
	padding-top: 8px !important;
}
.floor1_infobox{
	overflow: hidden;
	padding: 0 10px;
	border-bottom:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
}
.floor1_list{
	height: 100px;
	padding: 20px 0;
	border-bottom: 1px solid #dddddd;
}
.floor1_img{
	float: left;
	background-color: #0071BC;
	border-radius: 5px;
	position: relative;
}
.upload_img{
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}
.floor1_img p{
	text-align: center;
	font-size: 12px;
	color: #FFF;
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 0;
	top: 0;
}
.floor1_field{
	overflow: hidden;
	float: left;
	width: 650px;
	height: 100px;
	padding-left: 10px;
}
.floor1_list1_title{
	height: 30px;
	line-height: 30px;
}
.floor1_list1_title p{
	font-size: 16px;
	color: #333;
	float: left;
	font-weight: bold;
}
.floor1_list1_title img{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
.floor1_list1_title span{
	color: #29abe2;
	margin-left: 5px;
}
.floor1_list1{
	width: 250px;
	height: 70px;
	overflow: hidden;
	float: left;
}
.floor1_list1_field{
	margin-top: 10px;
	height: 60px;
}
.floor1_list1_field p{
	line-height: 1.7;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.floor1_list2{
	margin-left: 30px;
	width: 200px;
	height: 70px;
	overflow: hidden;
	float: left;
}
.floor1_list2_field{
	margin-top: 10px;
	height: 60px;
}
.floor1_list2_field p{
	line-height: 1.7;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.floor1_list2_field span{
	line-height: 1.7;
	color: #333;
	word-break: break-all;
}
.floor1_list3{
	margin-left: 30px;
	width: 135px;
	height: 70px;
	overflow: hidden;
	float: left;
}
.floor1_list3_field{
	margin-top: 10px;
	height: 60px;
}
.floor1_pie{
	margin-left: 30px;
	height: 100px;
	width: 200px;
	overflow: hidden;
	float: left;
}
.floor1_circle_img{
	width: 80px;
	height: 80px;
	float: left;
	position: relative;
	margin-top: 10px;
}
.floor1_circle_word{
	float: left;
	margin-left: 10px;
	position: relative;
}
.floor1_circle_word p{
	color: #0071bc;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	text-align: right;
}
.floor1_circle_word span{
	color: #666666;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	text-align: right;
	position: absolute;
	right: 0;
	bottom: -7px;
}
.floor1_price{
	margin-left: 30px;
	height: 80px;
	float: left;
	width: 158px;
	text-align: center;
	padding-top: 20px;
}
.floor1_price p{
	color: #BBBBBB;
	font-size: 14px;
	margin-bottom: 5px;
}
.floor1_price p strong{
	color: #fea501;
	font-size: 20px;
	margin-right: 8px;
}
.floor1_price span{
	color: #0071bc;
	font-size: 12px;
}

/*floor2*/
.floor2{
	width: 1200px;
	margin: 0 auto;
}
.floor2_topbox{
	height: 40px;
	margin-top: 35px;
	border-bottom: 2px solid #ff7214;
}
.floor2_toptitle{
	float: left;
	height: 40px;
}
.floor2_tab{
	float: right;
	height: 40px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.floor2_tab li{
	float: left;
	width: 80px;
	padding: 12px 0;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.floor2_tab li p{
	border-right: 1px solid #dddddd;
}
.tab_select2{
	border-left: 1px solid #ff7214;
	border-right: 1px solid #ff7214;
	border-top: 5px solid #ff7214;
	border-bottom: 1px solid #FFF;
	background: #FFF;
	margin-top: -1px;
	padding-top: 8px !important;
}
.floor2_infobox{
	overflow: hidden;
	padding: 0 10px;
	border-bottom:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
}
.floor2_list{
	height: 100px;
	padding: 20px 0;
	border-bottom: 1px solid #dddddd;
}
.floor2_img{
	float: left;
	background-color: #29ABE2;
	border-radius: 5px;
	position: relative;
}
.floor2_img p{
	text-align: center;
	font-size: 12px;
	color: #FFF;
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 0;
	top: 0;
}
.floor2_field{
	overflow: hidden;
	float: left;
	width: 880px;
	height: 100px;
	padding-left: 10px;
}
.floor2_list1_title{
	height: 30px;
	line-height: 30px;
}
.floor2_list1_title p{
	font-size: 16px;
	color: #333;
	float: left;
	font-weight: bold;
}
.floor2_list1_title img{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
.floor2_list1_title span{
	color: #29abe2;
	margin-left: 5px;
}
.floor2_list1{
	width: 420px;
	height: 70px;
	overflow: hidden;
	float: left;
}
.floor2_list1_field{
	margin-top: 10px;
	height: 60px;
}
.floor2_list1_field p{
	line-height: 1.7;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.floor2_list2{
	margin-left: 30px;
	width: 430px;
	height: 70px;
	overflow: hidden;
	float: left;
}
.floor2_list2_field{
	margin-top: 10px;
	height: 60px;
}
.floor2_list2_field p{
	line-height: 1.7;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.floor2_list2_field span{
	line-height: 1.7;
	color: #333;
	word-break: break-all;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.floor2_list2_field a{
	line-height: 1.7;
	color: #29abe2;
}
.floor2_price{
	margin-left: 30px;
	height: 80px;
	float: left;
	width: 158px;
	text-align: center;
	padding-top: 20px;
}
.floor2_price p{
	color: #BBBBBB;
	font-size: 14px;
	margin-bottom: 5px;
}
.floor2_price p strong{
	color: #fea501;
	font-size: 20px;
	margin-right: 8px;
}
.floor2_price span{
	color: #0071bc;
	font-size: 12px;
}
.index_ad{
	width: 1198px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	border:1px solid #dddddd;
	margin-top: 30px;
}
.index_ad li{
	padding: 10px 25px;
	width: 121px;
	height: 90px;
	float: left;
	overflow: hidden;
}
.floor_ahref{
	position: absolute;
	left: -100px;
	top: 20px;
	overflow: hidden;
	background: #FFF;
	z-index: 9;	
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 5px 10px;
}
.floor_ahref li{
	text-align: center;
	color: #333;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px dashed #999;
}
.floor_ahref a:hover li{
	color: #0071bc;
}

