/*管理员权限*/

/*管理员*/
.adminRootBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 0 3px 3px 3px;overflow: hidden;border-top: none;}
.btnHref{margin: 20px;padding: 0 15px;color: #FFFFFF;background: #29abe2;border-radius: 3px;height: 30px;outline: 0;cursor: pointer;font-weight: bold;}
.adminSearchBox{margin: 0 20px 20px;overflow: hidden;}
.adminSearchBox select{height: 30px;width: 180px;border: 1px solid #DEDEDE;border-radius: 3px;padding-left: 10px;outline: 0;color: #666;margin-right: 10px;float: left;}
.adminSearchBox input{height: 28px;width: 170px;border: 1px solid #DEDEDE;border-radius: 3px;padding-left: 10px;outline: 0;color: #666;margin-right: 10px;float: left;}
.btnSearch{padding: 0 15px;color: #FFFFFF;background: #29abe2;border-radius: 3px;height: 30px;outline: 0;cursor: pointer;font-weight: bold;}
.adminRootList{height: 40px;line-height: 40px;background: #eeeeee;}
.adminRootList p{font-size: 12px;color: #666666;float: left;margin-left: 20px;}
.adminRootLi{overflow: hidden;}
.adminRootLi ul li{padding: 15px 0;line-height: 1.5;background: #FFFFFF;overflow: hidden;display: table;border-bottom: 1px solid #DEDEDE;}
.adminRootLi ul li:last-child{border: 0;}
.adminRootLi ul li > strong{font-size: 12px;color: #333333;float: left;margin-left: 20px;overflow: hidden;}
.adminRootLi ul li > p{font-size: 12px;color: #666666;padding-left: 20px;overflow: hidden;display: table-cell;vertical-align: middle;}
.liOperation{width: 148px;padding-left: 20px;display: table-cell;vertical-align: middle;}
.liOperation img{float: left;margin: 2.5px 10px 2.5px 0;}
.liOperation p{color: #666666;margin-right: 20px;float: left;cursor: pointer;}

/*添加管理员*/
.inputBox{line-height: 30px;padding: 0 20px;margin-bottom: 20px;overflow: hidden;}
.inputBox p{width: 100px;float: left;text-align: right;color: #999999;margin-right: 5px;}
.inputBox span{display: block;color: #999999;margin-left: 105px;line-height: 20px;}
.inputText{border: 1px solid #dedede;border-radius: 3px;width: 190px;height: 28px;line-height: 28px;color: #333333;padding-left: 10px;outline: 0;}
.inputBox select{border: 1px solid #dedede;border-radius: 3px;width: 202px;height: 30px;line-height: 30px;color: #666;padding-left: 10px;outline: 0;}
.btnBox{margin: 20px 0 20px 105px;height: 30px;}
.btnSave{float: left;padding: 0 25px;height: 30px;text-align: center;color: #FFFFFF;font-weight: bold;background: #29abe2;outline: 0;border-radius: 3px;margin-left: 15px;cursor: pointer;}
.btnCancel{float: left;padding: 0 25px;height: 30px;text-align: center;color: #666;font-weight: bold;background: #FFF;outline: 0;border: 1px solid #dedede;border-radius: 3px;margin-left: 15px;cursor: pointer;}

/*角色权限设置*/
.rootBox{width: 958px;padding: 20px 20px 0;background: #FFF;border: 1px solid #dedede;border-radius: 0 3px 3px 3px;overflow: hidden;border-top: none;}
.inputTextBox{line-height: 30px;padding-bottom: 20px;overflow: hidden;border-bottom: 1px solid #dedede;}
.inputTextBox p{width: 100px;float: left;text-align: right;color: #999999;margin-right: 5px;}
.rootChecbox{padding: 10px 0;border-bottom: 1px solid #DEDEDE;overflow: hidden;}
.rootTitle{border-left: 5px solid #ff964b;height: 18px;margin: 10px 0;}
.rootTitle p{line-height: 18px;font-size: 14px;color: #333;margin-left: 5px;font-weight: bold;}
.rootChecbox ul li{margin: 0 0 10px 10px;width: 180px;float: left;height: 16px;line-height: 16px;font-size: 12px;color: #666666;}
.rootChecbox ul li input{position: relative;top: 2px;outline: none;}
