/*收款帐号设置*/

/*收款帐号设置*/
.domainNameBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 3px;overflow: hidden;margin-top: 20px;padding: 20px 0;}
.inputBox{height: 30px;padding: 0 20px;margin-bottom: 20px;}
.inputBox p{width: 100px;float: left;text-align: right;color: #999999;margin-right: 5px;line-height: 30px;}
.inputText{border: 1px solid #dedede;border-radius: 3px;width: 190px;height: 28px;line-height: 28px;color: #333333;padding-left: 10px;outline: 0;}
.inputBox span{float:left;color:#333;font-size:12px;margin-right: 5px;line-height: 30px;}
.selectBox{float: left;width: 100px;height: 30px;line-height: 30px;padding-left: 10px;border: 1px solid #dedede;border-radius: 3px;color: #666;position: relative;font-size: 12px;margin: 0px 10px 0px 0;outline: 0;}
.btnSubmit{height: 30px;line-height: 30px;width: 100px;text-align: center;color: #FFFFFF;background: #29abe2;outline: 0;border-radius: 3px;font-weight: bold;}

