/*微信管理*/

/*自动回复*/
.wechatBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 0 3px 3px 3px;overflow: hidden;border-top: none;padding: 20px 0;}
.wxBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 0 3px 3px 3px;overflow: hidden;padding: 20px 0;margin-top: 20px;}
.wechatBox:after{content: '';display: block;clear: both;width: 0;height: 0;visibility:hidden;}
.btnHref{margin: 0 20px 20px;padding: 0 15px;color: #FFFFFF;background: #29abe2;border-radius: 3px;height: 30px;line-height: 30px;outline: 0;cursor: pointer;font-weight: bold;}
.wechatList{height: 40px;line-height: 40px;background: #eeeeee;}
.wechatList p{font-size: 12px;color: #666666;float: left;margin-left: 20px;}
.wechatLi{overflow: hidden;}
.wechatLi ul li{padding: 15px 0;line-height: 1.5;background: #FFFFFF;overflow: hidden;display: table;border-bottom: 1px solid #DEDEDE;}
.wechatLi ul li > strong{font-size: 12px;color: #333333;float: left;margin-left: 20px;overflow: hidden;}
.wechatLi ul li > p{font-size: 12px;color: #666666;padding-left: 20px;overflow: hidden;display: table-cell;vertical-align: middle;}
.liOperation{width: 148px;padding-left: 20px;display: table-cell;vertical-align: middle;}
.liOperation img{float: left;margin: 2.5px 10px 2.5px 0;}
.liOperation p{color: #666666;margin-right: 20px;float: left;cursor: pointer;}

/*消息托管*/
.wechatBox > ul{padding: 0 20px;}
.wechatBox > ul > li{height: 50px;background: #f8f8f8;padding: 15px 20px;margin-bottom: 20px;}
.wechatLiLeft{float: left;width: 800px;height: 50px;overflow: hidden;}
.wechatLiLeft p{height: 25px;line-height: 25px;font-size: 14px;font-weight: bold;color: #333333;display: block;}
.wechatLiLeft span{height: 25px;line-height: 25px;font-size: 12px;color: #666666;display: block;}
.wechatLiRight{float: right;height: 50px;}

/*添加自动回复*/
.wechatLeftBox{float: left;overflow: hidden;width: 350px;height: 720px;background: url(../img/bg_iphone.png) 0 0 no-repeat;background-size: cover;}
.wechatContentBox{width: 279px;height: 435px;border: 1px solid #bbbbbb;background: #F7F7F7;border-top: 0;margin-top: 132px;margin-left: 13.4px;overflow: auto;padding: 20px;}
.wechatContent{line-height: 1.5;padding: 5px 10px;border-radius: 3px;background: #a2e65b;border: 1px solid #84bc3f;margin-bottom: 15px;}
.wechatRightBox{margin-left: 20px;width: 555px;padding: 30px 15px;border: 1px solid #dedede;border-radius: 3px;float: left;background: #f4f5f9;position: relative;}
.wechatRightBox:before{content: "";position: absolute;left: -7px;top: 20px;width: 10px;height: 10px;border: 1px solid #dedede;border-right: 0;border-top: 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);background: #f4f5f9;}
.wechatKeywords{line-height: 20px;}
.wechatKeywords p{font-size: 12px;color: #333333;float: left;}
.wechatKeywords span{font-size: 12px;color: #999;}
.wechatKeywords input{display: block;height: 28px;border: 1px solid #dedede;border-radius: 3px;width: 525px;background: #FFF;padding-left: 15px;margin-top: 5px;}
.wechatType{line-height: 20px;margin-top: 15px;}
.wechatType p{font-size: 12px;color: #333333;}
.wechatRadio{margin-top: 5px;}
.wechatRadio input{width: 13px;height: 13px;position: relative;top: 2px;margin-right: 3px;}
.wechatRadio label{width: 60px;margin-right: 10px;display: inline-block;}
.wechatEditor{margin-top: 15px;}
.wechatButton{margin: 20px 0;height: 30px;float: right;}
.btnPreview{float: right;padding: 0 25px;height: 30px;text-align: center;color: #FFFFFF;font-weight: bold;background: #ff964b;outline: 0;border-radius: 3px;margin-top: 20px;cursor: pointer;}
.btnSave{float: left;padding: 0 25px;height: 30px;text-align: center;color: #FFFFFF;font-weight: bold;background: #29abe2;outline: 0;border-radius: 3px;margin-left: 15px;cursor: pointer;}
.btnCancel{float: left;padding: 0 25px;height: 30px;text-align: center;color: #333333;font-weight: bold;background: #FFF;outline: 0;border: 1px solid #dedede;border-radius: 3px;margin-left: 15px;cursor: pointer;}

/*添加消息托管*/
.wechatTimes{line-height: 20px;overflow: hidden;}
.wechatTimes p{font-size: 12px;color: #333333;}
.wechatSelect{height: 30px;margin-top: 5px;}
.wechatSelect select{height: 30px;border: 1px solid #dedede;background: #FFF;float: left;color: #666;padding-left: 5px;}
.wechatSelect span{float: left;line-height: 30px;margin: 0 8px;color: #666;}
.wechatSelect p{float: left;line-height: 30px;margin: 0 15px 0 7px;color: #666;}
.wechatCheckbox{margin-top: 5px;margin-left: 1px;}
.wechatCheckbox input{width: 13px;height: 13px;position: relative;top: 2px;margin-right: 3px;}
.wechatCheckbox label{margin-right: 15px;display: inline-block;}

/*微信设置*/
.officialAccountBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 0 3px 3px 3px;overflow: hidden;padding: 20px 0;border-top: none;}
.inputBox{height: 30px;line-height: 30px;padding: 0 20px;margin-bottom: 20px;}
.inputBox p{width: 120px;float: left;text-align: right;color: #999999;margin-right: 5px;}
.inputBox a{height: 30px;line-height: 30px;color: #999999;padding-left: 20px;float: left;}
.inputBox span{float:left;color:#999999;font-size:12px;margin-left: 30px;}
.textBox{line-height: 1.5;padding: 0 20px;margin-bottom: 20px;overflow: hidden;}
.textBox p{width: 120px;float: left;text-align: right;color: #999999;margin-right: 5px;}
.textBox span{float:left;color:#333;font-size:12px;width: 320px;word-break: break-all;margin-right: 30px;}
.textBox button{width: 60px;height: 28px;border: 1px solid #dedede;background: #fff;color: #333;outline: none;cursor: pointer;}
.inputText{border: 1px solid #dedede;border-radius: 3px;width: 190px;height: 28px;line-height: 28px;color: #333333;padding-left: 10px;outline: 0;float: left;}
.qcodeBox{width: 65px;height: 65px;float: left;position: relative;}
.qcodeImg{width: 65px;height: 65px;background-size: cover;background-repeat: no-repeat;background-position: center;}
.inputFile{width: 65px;height: 65px;position: absolute;left: 0;top: 0;opacity: 0;}
.btnSubmit{height: 30px;line-height: 30px;width: 100px;text-align: center;color: #FFFFFF;background: #29abe2;outline: 0;border-radius: 3px;font-weight: bold;}

/*关注设置*/
.wxBox ul{padding: 0 20px;}
.wxBox ul li{height: 50px;background: #f8f8f8;padding: 15px 20px;margin-bottom: 20px;}
.wxLiLeft{float: left;width: 800px;height: 50px;overflow: hidden;}
.wxBox ul li p{height: 25px;line-height: 25px;font-size: 14px;font-weight: bold;color: #333333;display: block;}
.wxBox ul li span{height: 25px;line-height: 25px;font-size: 12px;color: #666666;display: block;}
.wxLiRight{float: right;height: 50px;}

/*消息设置*/
.msgTab{margin-bottom: 30px;height: 30px;}
.msgTab ul li{height: 30px;padding: 0 10px;background: #eeeeee;color: #666666;font-size: 12px;float: left;line-height: 30px;text-align: center;margin-right: 10px;border-radius: 3px;cursor: pointer;}
.msgTabCur{background: #29abe2 !important;color: #FFF !important;}
.sendWay{line-height: 20px;margin-top: 15px;clear: both;}
.sendWay p{font-size: 12px;color: #333333;}
.wechatEditor p{line-height: 20px;font-size: 12px;color: #333333;}
.msgContent{line-height: 20px;}
.msgContent p{font-size: 12px;color: #333333;}
.insertFields{display: table-cell;width: 190px;vertical-align: middle;text-align: center;background: #FAFAFA;border: 1px solid #d4d4d4;}
.insertFields p{line-height: 2;color: #29ABE2;cursor: pointer;}
.previewContent{line-height: 1.5;padding: 5px 10px;border-radius: 3px;background: #FFF;border: 1px solid #dedede;margin-bottom: 15px;color: #666666;}

/*多客服（同上样式）*/
