/******我的发布******/
.rel_box{
}
.rel_wx{
	background:#FFF;
	height:40px;
	line-height:40px;
	padding:0 3%;
	width:94%;	
	margin-top:20px;
}
.rel_wx p{
	float:left;
	font-size:16px;
	color:#333;	
}
.rel_wx span{
	float:right;
	color:#999;
	font-size:16px;	
}
.base_info{
	background:#FFF;	
}
.base{	
	padding:0 3%;
	height:40px;
	line-height:40px;	
	border-bottom:1px solid #eff2f6;	
	background:url(../images/arrow_right2.png) 97% 50% no-repeat;
	background-size:9px;
}
.base p{
	float:left;
	font-size:16px;
	color:#333;		
}
.base_input{
	float:right;
	color:#999;
	font-size:16px;
	margin-right:6%;
	width:45%;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;	
	height:40px;
	line-height:40px;
	font-family:"微软雅黑", "Microsoft Yahei";
}
.base span{
	float:right;
	color:#999;
	font-size:16px;
	padding-right:10%;
	width:50%;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;	
}
.base_demand,.base_remark{
	height:35px;
	line-height:35px;
	padding:0 3%;
	width:94%;
	background:#eff2f6;	
	border-bottom:1px solid #eff2f6;	
}
.base_demand p,.base_remark p{
	float:left;
	color:#666;	
	font-size:12px;
}
.demand_info{
	background:#FFF;		
}
.remark_info{
	background:#FFF;
}
.textclass{
	width:94%;
	height:150px;
	resize:none;
	outline:0;
	padding:3%;
	color:#333;
	font-size:16px;	
}
.rel_submit{
	width:100%;
	position:absolute;
	bottom:0;
	height:50px;
	line-height:50px;
	background:#FFF;
	text-align:center;
	border-top:1px solid #eff2f6;
	border-bottom:1px solid #eff2f6;
}
.release_submit{
	width:100%;
	height:50px;
	line-height:50px;
	background:#FFF;
	text-align:center;
	border-top:1px solid #eff2f6;
	border-bottom:1px solid #eff2f6;
	margin-top:35px;
}
.rel_btn{
	background:#FFF;
	font-size:18px;
	color:#34abe3;
	font-weight:bold;
	outline:none;
	letter-spacing:2px;
}

/*修改信息*/
.name_box{
	background:#FFF;
	border-top:1px solid #eff2f6;	
	border-bottom:1px solid #eff2f6;		
}
.name_input{
	padding:0 3%;
	height:40px;
	line-height:40px;
	width:94%;
	font-size:16px;	
	font-family:"微软雅黑", "Microsoft Yahei";
	color:#333;	
}
.sex_box{
	border-bottom:1px solid #eff2f6;
}

/*我要留言*/
.msg{
	border-bottom:1px solid #eff2f6;	
}
.msgclass{
	width:94%;
	height:80px;	
	outline:none;
	resize:none;
	background:#FFF;
	color:#333;
	line-height:1.5;
	padding:10px;	
	font-size:16px;
}

/*短信验证*/
.msg_code{		
  	width:100px;
  	height:32px;
	color:#FFF;
  	background:#3a99d8;
  	border:0px;
  	border-radius:3px;
  	cursor:pointer;
	float:right;
}
.msg_coding{
	width:100px;
  	height:32px;
	background:#E6E6E6;
	border-radius:3px;
	color:#818080;
	border:0px;
	border-radius:3px;
	outline:none;
	float:right;
}

/*上传图片*/
.base_file{
	float:right;
	color:#999;
	font-size:16px;
	width:100%;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;	
	height:40px;
	line-height:40px;
	font-family:"微软雅黑", "Microsoft Yahei";
	position:absolute;
	left:0;
	opacity:0;
}
.file_img{
	position:absolute;
	right:3%;
	float:right;
	margin-right:6%;
	margin-top:5px;
	width:45px;
	height:30px;
	line-height:25px;
	overflow:hidden;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;	
}