*{margin:0;padding:0;}
body{font-family:微软雅黑;font-size:14px;color:#444}
img,hr,div{margin:0;padding:0;border:0;}
ul,li{list-style-type:none;}
/*首页*/
.coverdiv{
	position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    text-align: center;
	padding-top:60px;
    z-index: 99;
}
.contain{
	margin:0;
	padding:0;
}
.banner{
	margin:0;
	padding:0;
}
.index_top{
	width:100%;
	background-color:#FFF;
	display:block;
	height:140px;
}
.index_top_left{
	width:49.5%;
	float:left;
	text-align:center;
	padding:15px 0;
}
.index_top_left_border{
	border-right:1px solid #f1f1f1;
}
.index_top_left p{
	font-size:14px;
	color:#333;
	margin-top:10px;
}
.index_top_right{
	width:49.5%;
	float:right;
	text-align:center;
	padding:15px 0;
}
.index_top_right p{
	font-size:14px;
	color:#333;
	margin-top:10px;
}
.index_middle{
	width:100%;
	display:block;
	height:250px;	
}
.index_mid{
	width:100%;
	background-color:#FFF;
	display:block;
	height:95px;
}
.index_mid_left{
	width:47.5%;
	float:left;
	padding-left:2%;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #f1f1f1;
}
.index_mid_left1{
	width:47.5%;
	float:left;
	padding-left:2%;
	padding-top:15px;
	padding-bottom:15px;
}
.index_mid_left_border{
	border-right:1px solid #f1f1f1;
}
.index_mid_left p{
	display: inline;
	position: absolute;
	font-size: 14px;
	color: #999;
	padding-top: 5%;
	width:25%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.index_mid_left1 p{
	display: inline;
	position: absolute;
	font-size: 14px;
	color: #999;
	padding-top: 5%;
	width:25%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.index_mid_left span{
	font-size:14px;
	color:#333;
	width:80px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.index_mid_left1 span{
	font-size:14px;
	color:#333;
	width:80px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.index_mid_right{
	width:47.5%;
	float:right;
	padding-left:2.5%;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #f1f1f1;
}
.index_mid_right1{
	width:47.5%;
	float:right;
	padding-left:2.5%;
	padding-top:15px;
	padding-bottom:15px;
}
.index_mid_right p{
	display: inline;
	position: absolute;
	font-size: 14px;
	color: #999;
	padding-top: 5%;
	width:25%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.index_mid_right1 p{
	display: inline;
	position: absolute;
	font-size: 14px;
	color: #999;
	padding-top: 5%;
	width:25%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.index_mid_right span{
	font-size:14px;
	color:#333;
	width:80px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.index_mid_right1 span{
	font-size:14px;
	color:#333;
	width:80px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/*footer*/
.boottom-navigation-bar{text-align:center;width:100%;background-color:#FFF;position:fixed;bottom:0px;border-top:1px solid #f1f1f1;}
.boottom-navigation-bar1{text-align:center;width:100%;background-color:#FFF;position:absolute;bottom:0;}
.boottom-navigation-bar a{text-decoration:none;}
.boottom-navigation-bar1 a{text-decoration:none;}
.box2 img{text-decoration:none;}
.box1,.box2,.box3{width:33%;float:left;margin:0px auto;padding:3px 0px 0px 0px;}
dl{text-align:center;font-family:"微软雅黑"}
.boottom-navigation-bar img{width:25%;padding-bottom:3%;}
.boottom-navigation-bar1 img{width:25%;padding-bottom:3%;}
.bottom-lan{text-align:center;color:#999;margin-top:-6px;}

/*轮播*/
a,img{border:0;}
.addWrap{ position:relative; width:100%;background:#fff;margin:0; padding:0;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}
#position{ position:absolute; right:0; margin-top:-6%; opacity: 0.4; width:100%; filter: alpha(opacity=50);text-align:center;}
#position li{width:10px;height:10px;margin:0 2px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background-color:#AFAFAF;}
#position li.cur{background-color:#00a8ff;}
.img-responsive { display: block; max-width:100%;height: auto;}

/*个人中心*/
.user_top{
	height:auto;
	background-color:#00a8ff;
	padding:25px;
	display:-webkit-box;
}
.user_image{
	width:90px;
	height:90px;
	overflow:hidden;
	display:block;
	border-radius:50%;
}
.user_info{
	line-height:1.5;
	padding-top:24px;
	padding-left:16px;
	color:#FFF;
}
.user_info p{
	font-size:16px;
	font-family:微软雅黑;
}
.user_info span{
	background-image:url(../img/icon_tel.png);
	background-repeat:no-repeat;
	background-size:10%;
	padding-left:15px;
	font-size:16px;
	font-family:微软雅黑;
	text-decoration:none;
}
.user_info span a{
	text-decoration:none;
	color:#FFF;
	font-size:16px;
	font-family:微软雅黑;
}
.user_arrow {
	text-align:right;	
	float:right;
	padding:36px 0;
	position:absolute;
	right:15px;
}
.user_mid{
	width:100%;
	height:100px;
	padding-top:5px;
	float:left;
	display:-webkit-box;
	margin-bottom:5px;
}
.user_mid_left{
	width:33%;
	text-align:center;
	padding-top:15px;
	border-right:1px solid #f1f1f1;
}
.user_mid_left p{
	font-family:微软雅黑;
	font-size:14px;
	color:#999;
	text-align:center;
}
.user_mid_center{
	width:33%;
	text-align:center;
	padding-top:15px;
	border-right:1px solid #f1f1f1;
}
.user_mid_center p{
	font-family:微软雅黑;
	font-size:14px;
	color:#999;
	text-align:center;
}
.user_mid_right{
	width:33%;
	text-align:center;
	padding-top:15px;
}
.user_mid_right p{
	font-family:微软雅黑;
	font-size:14px;
	color:#999;
	text-align:center;
}
.user_table{
	width:100%;
	float:left;
	display:-webkit-box;	
	border-bottom:1px solid #f1f1f1;
	height:50px;
	line-height:50px;
}
.user_table_left{
	width:10%;
	padding:6px 0;
	padding-left:15px;
}
.user_table_mid{
	display:-webkit-box;
}
.user_table_mid1{
	display:-webkit-box;
}

.user_table_mid p{
	font-family:微软雅黑;
	font-size:14px;
	color:#999;
}
.user_table_mid1 p{
	font-family:微软雅黑;
	font-size:14px;
	color:#999;
}
.user_table_mid span{
	right:12%;
	position:absolute;
	color:#00a8ff;
	font-family:微软雅黑;
	font-size:14px;
	text-decoration:none;
}
.user_table_mid span a{
	text-decoration:none;
	color:#00a8ff;
	font-family:微软雅黑;
	font-size:14px;
}
.user_table_mid1 span{
	margin-top:-5%;	
	margin-left:3px;
	position:absolute;
}
.user_table_right{
	text-align:right;	
	float:right;
	position:absolute;
	right:15px;
	padding-top:3px;
}
.user_table_bg{
	margin-top:10px;	
	margin-left:3px;
	position:absolute;
	width:15px;
	height:15px;
	background-color:red;
	border-radius:50%;
}
.user_table_bg span{
	margin-top:-17px;
	margin-left:4px;
	color:#FFF;
}

/*预约*/
.order_ad{
	height:auto;
	margin-top:2%;
	margin-left:5%;
}
.order_ad span{
	font-family:微软雅黑;
	font-size:14px;
	color:#00a8ff;
}
.tab1 ,.tab2{
	width:100%;
	height:55px;
}
.tab1 ul ,.tab2 ul{
	padding:0;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab1 li,.tab2 li{
	float:left;
	width: 50%;
	height:55px;
	line-height:55px;
	text-align:center;
	cursor:pointer;
	background-color: #ffffff;
	font-size:16px;
	font-family:微软雅黑;
	list-style-type:none;
}
.tab1 li.now,.tab2 li.now{
	background-color:#00a8ff;
	color:#FFF;
	font-weight:bold;
	width:50%;
}
.tablist{
	width:93%;
	padding:10px;
	margin-top:3%;
	font-size:14px;
	display:none;
}
.block{display:block;}

/*快速预约*/
.order_table{
	width:100%;
	height:55px;
}
.order_choice{
	height:55px;
}
.order_op1{
	width:50%;
	float:left;
	text-align:center;	
	font-family:微软雅黑;
	font-size:16px;
	height:55px;
	line-height:55px;
	
}
.order_op2{
	width:50%;
	float:left;	
	text-align:center;	
	font-family:微软雅黑;
	font-size:16px;
	height:55px;
	line-height:55px;
}
.order_tablet{
	width:100%;
	height:55px;
	display:-webkit-box;	
	border-bottom:1px solid #f1f1f1;
}
.order_table_left{
	padding:15px 0;
	padding-left:15px;
}
.order_table_mid{
	display:-webkit-box;
	height:55px;
	line-height:55px;
	width:65%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.order_table_mid p{
	font-family:微软雅黑;
	font-size:16px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.order_table_right{
	text-align:right;	
	float:right;
	position:absolute;
	right:15px;
	height:55px;
	line-height:55px;
}
.order_table_right1{
	text-align:right;	
	float:right;
	position:absolute;
	right:15px;
	margin-top:-2%;
}
input,text {
    outline:none;
} 
.order_tj{
	text-align:center;
	padding:0 5%;	
	background-color:#f1f1f1;
	bottom:0;
}
/*教练直约*/
.order_coach{
	width:100%;
	display:-webkit-box;
	height:50px;	
}
.order_coach_left{
	margin:12px 0;
	padding-left:15px;
	padding-right:15px;
	line-height:2;
	font-family:微软雅黑;
	font-size:14px;
	border-right:1px solid #f1f1f1;
}
.order_coach_mid{
	height:50px;
	line-height:50px;
	padding:5px 0;
	margin-left:3%;
}
.order_coach_right{
	height:50px;
	line-height:50px;
	width:60%;
	margin-left:-6%;
}
.order_coach_right p{
	font-family:微软雅黑;
	font-size:14px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.order_coach_info{
	display:-webkit-box;
	padding:10px 0;
	padding-left:10px;
	border-bottom:1px solid #f1f1f1;	
}
.order_coach_info_left{
	width:80px;
	height:80px;
	overflow:hidden;
	display:block;
	border-radius:50%;
}
.order_coach_info_mid{
	float:right;
	margin-top:3%;
	padding-left:3%;	
	width:66%;
	position:absolute;
}
.order_coach_info_mid p{
	font-family:微软雅黑;
	font-size:14px;	
	display:inline;
}
.order_coach_info_mid span{
	font-family:微软雅黑;
	font-size:14px;	
	float:right;
	color:#999;
}
.order_coach_info_up{
	float:right;
	margin-top:6%;
	padding-left:3%;	
	position:absolute;
	width:65%;
}
.order_coach_info_up p{
	font-family:微软雅黑;
	font-size:14px;	
	display:inline;
	color:#999;
}
.order_coach_info_up span{
	font-family:微软雅黑;
	font-size:14px;	
	color:#999;
	padding-left:10%;
}
/*到店办理*/
.order_info_shop{
	height:72px;
	border-bottom:1px solid #f1f1f1;
}
.order_info_shop1{
	height:72px;
	border-bottom:1px solid #f1f1f1;
	background-color:#FFF;
}
.order_info_images{
	float:left;
	padding-left:5%;
	padding-top:3%;
}
.order_info_titlecc{
	float:left;
	padding:6% 15px 0px 15px;
	width:65%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
}
.order_info_titlecc p{
	color:#333;
	font-size:14px;
	font-family:微软雅黑;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
}
.order_info_titlecc span{
	color:#999;
	font-size:14px;
	font-family:微软雅黑;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
}

/*教练直约详情*/
.coach_info_top{
	padding:15px 0;
	padding-left:20px;
	border-bottom:1px solid #f1f1f1;
}
.coach_info_top p{
	font-family:微软雅黑;
	font-size:16px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
	width:90%;	
}
.coach_info_star{
	padding:15px 0;
	padding-left:20px;
	border-bottom:1px solid #f1f1f1;
}
.coach_info_star p{
	font-family:微软雅黑;
	font-size:16px;
	display:inline;
}
.coach_info_star span{
	font-family:微软雅黑;
	font-size:26px;
	color:#008aff;
	display:inline;
}
.coach_info_pj{
	padding-top:2%;
	display:inline;	
}
.coach_info_arrow{	
	float:right;
	padding:10px 0;
}

/*订单*/
.form_top{
	background-color:#ff6f66;	
	padding:10px 15px;
}
.form_top p{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#FFF;
}
.form_top span{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#FFF;
	float:right;
}
.form_mid_info{
	display:-webkit-box;
	padding:10px 0;
	padding-left:10px;
	border-bottom:1px solid #f1f1f1;	
}
.form_mid_info_left{
	width:85px;
	height:85px;
	overflow:hidden;
	display:block;
	border-radius:50%;
}
.form_mid_info_mid{
	float:right;
	margin-top:3%;
	padding-left:3%;	
	width:60%;
	position:absolute;
}
.form_mid_info_mid p{
	font-family:微软雅黑;
	font-size:14px;	
	display:inline;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
}
.form_mid_info_up{
	float:right;
	margin-top:10%;
	padding-left:3%;	
	position:absolute;
	width:60%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
}
.form_mid_info_up p{
	font-family:微软雅黑;
	font-size:14px;	
	display:inline;
	color:#999;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
}
.form_mid_arrow{
	text-align:right;	
	float:right;
	padding:22px 0;
	position:absolute;
	right:5px;
}
.form_bottom{}
.form_bottom  span{
	font-family:微软雅黑;
	font-size:16px;	
	color:#999;	
	float:right;
	padding-right:2%;
	text-decoration:none;
	border:1px solid #f1f1f1;
	padding:2%;	
	margin:2%;
}
.form_top1{
	background-color:#ffba34;	
	padding:10px 15px;
}
.form_top1 p{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#FFF;
}
.form_top1 span{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#FFF;
	float:right;
}
.form_top2{
	background-color:#5ac15c;	
	padding:10px 15px;
}
.form_top2 p{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#FFF;
}
.form_top2 span{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#FFF;
	float:right;
}
.form_top3{
	background-color:#e8e8e8;	
	padding:10px 15px;
}
.form_top3 p{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#999;
}
.form_top3 span{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#999;
	float:right;
}
.form_top4{
	background-color:#3cb4f0;	
	padding:10px 15px;
}
.form_top4 p{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#FFF;
}
.form_top4 span{
	font-family:微软雅黑;
	font-size:14px;
	display:inline;
	color:#FFF;
	float:right;
}
/*订单*/
.tabs ,.tabs{
	width:100%;
	height:55px;
}
.tabs ul ,.tabs ul{
	padding:0;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tabs li,.tabs li{
	float:left;
	width: 50%;
	height:55px;
	line-height:55px;
	text-align:center;
	cursor:pointer;
	background-color: #ffffff;
	font-size:16px;
	font-family:微软雅黑;
	list-style-type:none;
	color:#333;
}
.tabs li.now,.tabs li.now{
	background-color:#FFF;
	font-weight:bold;
	width:50%;
	border-bottom:2px solid #00a8ff;
	color:#00a8ff;
}
.order_info_all{
	margin-top:2%;
	height:75px;	
}
.order_info_left{
	float:left;
	padding-top:6%;
	padding-right:2%;
	padding-left:8%;	
	display:inline;
	filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;
}
.order_info_left1{
	float:left;
	padding-top:6%;
	padding-right:2%;
	padding-left:8%;	
	display:inline;
}
.order_info_right{
	padding-top:6%;
}
.order_info_img{
	position:absolute;
	padding-left:25%;
	z-index:-1;	
}
.order_info_text{
	float:left;
	display:inline;
	padding-top:5%;
	padding-left:5%;
	width:60%;
}
.order_info_right p{
	font-size:12px;
	font-family:微软雅黑;
	display:inline;
	color:#333;
}
.order_info_right span{
	font-size:12px;
	font-family:微软雅黑;
	color:#999;
	float:right;
}
.order_info_hr hr{
	margin-left:15%;
	position:absolute;
}
.order_info_text1{
	float:left;
	display:inline;
	padding-left:5%;
	padding-top:2.8%;
	width:60%;
}
.order_info_bz{
	float:left;
	display:inline;
}
.order_info_bz span{
	font-size:12px;
	font-family:微软雅黑;
	color:#999;
}
.order_info_bottom{
	margin-top:10%;	
	background-color:#00a8ff;
	height:50px;
	line-height:50px;
	bottom:0;
	width:100%;
}
.order_info_bottom a{
	text-decoration:none;	
}
.order_info_bottom p{
	text-align:center;
	font-size:18px;
	font-family:微软雅黑;
	color:#FFF;	
}
.order_info_xq{
	background-color:#FFF;
	height:450px;	
}
.order_info_cc{
	height:60px;
	line-height:60px;
	border-bottom:1px solid #f1f1f1;
}
.order_info_title{
	float:left;
	padding-left:5%;
	padding-top:3%;
	padding-bottom:3%;
	height:50px;
	line-height:50px;
	width:100px;
}
.order_info_title p{
	color:#333;
	font-size:16px;
	font-family:微软雅黑;
	float:right;
}
.order_info_box{
	padding-left:5%;
	padding-top:3%;
	padding-bottom:3%;
	padding-right:5%;	
	float:left;
}
.order_info_box p{
	font-size:16px;
	font-family:微软雅黑;
	line-height:2;
}
.order_info_box span{
	font-size:16px;
	font-family:微软雅黑;
	float:left;
	padding-left:80px;	
	padding-top:5px;
	min-width:200px;
}

.order_info_xq1{
	background-color:#FFF;
	height:100px;	
}

/*科目*/
.kemu_all{
	height:40px;
	line-height:40px;
	padding:5%; 
	background-color:#FFF;
}
.kemu_all p{
	color:#999;
	font-size:14px;
	font-family:微软雅黑;
	float:left;	
}
.kemu_all span{
	color:#999;
	font-size:14px;
	font-family:微软雅黑;
	float:right;	
}

/*支付*/
.pay_info_xq{
	background-color:#FFF;
	height:380px;	
}
.pay_info_xq1{
	background-color:#FFF;
	height:350px;	
}
.pay_info_cc{
	height:60px;
	line-height:60px;
	border-bottom:1px solid #f1f1f1;
}
.pay_info_title{
	float:left;
	padding-left:5%;
	padding-top:3%;
	padding-bottom:3%;
	height:50px;
	line-height:50px;
	width:100px;
}
.pay_info_title p{
	color:#333;
	font-size:16px;
	font-family:微软雅黑;
	float:right;
}
.pay_info_box{
	padding-left:5%;
	padding-top:3%;
	padding-bottom:3%;
	padding-right:5%;	
	float:left;
}
.pay_info_box p{
	font-size:16px;
	font-family:微软雅黑;
	line-height:2;
	
}
.pay_info_box span{
	font-size:16px;
	font-family:微软雅黑;
	float:left;
	padding-left:80px;	
	padding-top:5px;
	min-width:200px;
}
.pay_info_tt{
	height:60px;
	line-height:60px;
	border-bottom:1px solid #f1f1f1;
}
.pay_info_text{
	float:right;
	padding-left:5%;
	padding-top:3%;
	padding-bottom:3%;
	height:50px;
	line-height:50px;
}
.pay_table{
	display:block;	
}
.pay_op1{
	display:block;	
}
.pay_way1{
	float:left;
}
.pay_info_for{
	background-color:#FFF;
	height:50px;
	line-height:50px;
}
.pay_info_way1{
	float:left;
	width:90%;
	padding-left:5%;
	padding-right:5%;
	border-bottom:1px solid #f1f1f1;	
}
.pay_info_way1 p{
	display:inline;
	font-size:16px;
	font-family:微软雅黑;	
}
.pay_info_way1 span{
	display:inline;
	font-family:微软雅黑;
	font-size:16px;
	text-decoration:none;	
}
.pay_info_way1 span a{
	text-decoration:none;	
}
.pay_info_way1 span a:link,a:visited,a:hover,a:active{
	color:#00a8ff;
	text-decoration:none;	
}
.pay_info_choose{
	float:right;	
}
.pay_info_choose1{
	float:left;
	margin-top:2%;	
	position:absolute;
}
.pay_info_way2{
	float:left;
	width:90%;
	padding-left:5%;
	padding-right:5%;	
}
.pay_info_way2 p{
	display:inline;	
	font-size:16px;
	font-family:微软雅黑;
}
.pay_info_way2 span{
	display:inline;	
	font-size:16px;
	font-family:微软雅黑;
	color:#FFF;
	background-color:#ff6f66;
	border-radius:5px;
	padding:1% 2.5%;
}
.pay_info_way3{
	float:left;
	padding-left:5%;
}
.pay_info_way3 p{
	display:inline;
	font-size:16px;
	font-family:微软雅黑;
	float:right;	
	margin-left:30px;
}
.pay_info_way3 span{
	display:inline;
	font-family:微软雅黑;
	text-decoration:none;	
}
.pay_info_way3 span a{
	text-decoration:none;	
}
.pay_info_way3 span a:link,visited,hover,active{
	color:#00a8ff;
	text-decoration:none;	
}
.pay_info_money{
	padding:10% 0%;
	text-align:center;
}
/*移动端单选*/
.chk_1,.chk_2,.chk_3,.chk_4 {
    display: none;
}
 
.chk_1 + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
}
.chk_1 + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.chk_1:checked + label {
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

.chk_1:checked + label:after {
	content: '\1';
	background-image:url(../img/icon_V.png);
	background-repeat:no-repeat;
	background-size:100%;
	position: absolute;
	top: 0;
	left: 0px;
	color: #00a8ff;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 3px 0 0 0;
	vertical-align: text-top;
}

.chk_3 + label {
	background-color: #fafbfa;
	padding: 6px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	width: 40px;
	height: 15px;
	margin-top:10px;
}

.chk_3  + label:after {
	content: ' ';
	position: absolute;
	top: 0;
	-webkit-transition: box-shadow 0.1s ease-in;
	transition: box-shadow 0.1s ease-in;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
}

.chk_3  + label:before {
	content: ' ';
	position: absolute;
	background: white;
	top: 1px;
	left: 1px;
	z-index: 999999;
	width: 25px;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	height: 25px;
	border-radius: 100px;
	box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
}

.chk_3:active + label:after {
	box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}

.chk_3:active + label:before {
	width: 37px;
}

.chk_3:checked:active + label:before {
	width: 37px;
	left: 20px;
}

.chk_3  + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.chk_3:checked + label:before {
	content: ' ';
	position: absolute;
	left: 26px;
	border-radius: 100px;
}

.chk_3:checked + label:after {
	content: ' ';
	font-size: 1.5em;
	position: absolute;
	background: #00a8ff;
	box-shadow: 0 0 1px #00a8ff;
}

/*首页链接*/
.index_page_text{
	margin-top:5%;
	padding:0 3%;	
	min-height:200px;
}
.index_page_bottom{
	bottom:0;
}

/*消息反馈*/
.mes_page_text{
	margin-top:5%;
	margin-bottom:20%;
	padding:0 3%;	
	text-align:center;
	font-family:微软雅黑;
	font-size:16px;	
}
.mes_page_bottom{
	bottom:0;
}
.comments { 
 	width:100%;/*自动适应父布局宽度*/ 
	overflow:auto; 
 	word-break:break-all; 
 	/*在ie中解决断行问题(防止自动变为在一行显示，主要解决ie兼容问题，ie8中当设宽度为100%时，文本域类容超过一行时， 
 	当我们双击文本内容就会自动变为一行显示，所以只能用ie的专有断行属性“word-break或word-wrap”控制其断行)*/ 
 } 
 
/*教练详情*/
.coach_top{
	height:auto;
	background-color:#00a8ff;
	padding:20px;
	text-align:center;
	text-align:-webkit-center;
}
.coach_image{
	width:90px;
	height:90px;
	overflow:hidden;
	display:block;
	border-radius:50%;
}
.coach_info{
	line-height:1.5;
	padding-top:10px;
	color:#FFF;
}
.coach_info p{
	font-size:16px;
	font-family:微软雅黑;
}
.coach_info span{
	background-image:url(../img/icon_tel.png);
	background-repeat:no-repeat;
	background-size:10%;
	padding-left:15px;
	font-size:16px;
	font-family:微软雅黑;
	text-decoration:none;
}
.coach_info span a{
	text-decoration:none;
	color:#FFF;
	font-size:16px;
	font-family:微软雅黑;
}
.coach_mid{
	padding:5%;
	border-bottom:1px solid #f1f1f1;
	height:15px;
	line-height:15px;	
}
.coach_mid_right{
	text-align:right;	
	float:right;
	position:absolute;
	right:15px;
}
.coach_mid p{
	font-size:14px;
	font-family:微软雅黑;
	color:#333;
	float:left;
	display:inline;
}
.coach_mid span{
	font-size:14px;
	font-family:微软雅黑;
	color:#999;
	float:right;
}
.coach_mid1{
	padding:5%;
	min-height:40px;
	height:auto;
}
.coach_mid1 p{
	font-size:14px;
	font-family:微软雅黑;
	color:#333;
	float:left;
	display:inline;
	padding-right:10%;
}
.coach_mid1 span{
	font-size:14px;
	font-family:微软雅黑;
	color:#999;
}
.coach_mid2{
	padding:5%;
	border-bottom:1px solid #f1f1f1;
	height:15px;
	line-height:15px;	
}
.coach_mid2 p{
	font-size:14px;
	font-family:微软雅黑;
	color:#333;
	float:left;
	display:inline;
	width:30%;
}
.coach_mid2 span{
	font-size:14px;
	font-family:微软雅黑;
	color:#999;
	float:right;
	text-align:right;
	width:55%;
	height:35px;
}
.coach_mid3{
	
}
.coach_mid3 p{
	font-size:14px;
	font-family:微软雅黑;
	color:#333;
	padding-left:5%;
	padding-top:5%;
	padding-bottom:3%;
}
.coach_img{
	padding-left:3%;
	display:block;	
}
.coach_img img{
	padding:2%;
	border-radius:15px;
}
#thumbs{
	text-align:center;
	padding:0 5%;
}

#thumbs a{
	width:85px;
	height:85px;
	display:inline-block;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-radius:10px;
	position:relative;
	text-decoration:none;
	background-position:center center;
	background-repeat: no-repeat;	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	margin-right:5px;
}
/*覆盖层*/
.zzsc {position: fixed;left: -100%;right:100%;top:0;bottom: 0;text-align: center;font-size: 0; z-index:9999; display:none;}
.zzsc:after {content:"";display: inline-block;vertical-align: middle;height: 100%;width: 0;}
.zzss {position: fixed;left: -100%;right:100%;top:0;bottom: 0;text-align: center;font-size: 0; z-index:9999; display:none;}
.zzss:after {content:"";display: inline-block;vertical-align: middle;height: 100%;width: 0;}
.content{display: inline-block; *display: inline; *zoom:1;	vertical-align: middle;position: relative;right: -100%;}
.content_mark{ width:100%; height:100%; position:fixed; left:0; top:0; z-index:555; background:#000; opacity:0.6;filter:alpha(opacity=60); display:none;}

/*短信验证*/
.coverfulled{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    text-align: center;
    z-index: 999999;
    color: #FFFFFF;
    padding-top: 40%;
}
.cover_cc{
	width:80%;
	background-color:#FFF; 	
	margin:0 auto;
	border-radius:8px;
}
.cover_cc p{
	font-size:16px;
	font-family:微软雅黑;
	color:#666;
	text-align:center;
	padding-top:8%;	
}
.cover_idcode{
	padding-top:8%;	
	padding-left:5%;
	padding-right:5%;
	height:60px;
	border-bottom:1px solid #ccc;
}
.idcode{
	width:40%;
	height:35px;
	float:left;	
	background-color:#f3f3f3;
	border:0;
	text-align:center;
	color:#666;
}
.cover_idcode p{
	display:block;
	background-color:#00a8ff;
	float:right;
	width:50%;
	height:25px;
	line-height:25px;
	padding:5px;	
	border-radius:8px;
	color:#FFF;
}
.cover_idcode span{
	display:block;
	background-color:#cccccc;
	float:right;
	width:50%;
	height:25px;
	line-height:25px;
	padding:5px;	
	border-radius:8px;
	color:#FFF;
}
.cover_confirm{
	height:30px;
	padding:10px 30px;	
}
.cover_confirm span{
	color:#00a8ff;
	font-size:18px;
	text-decoration:none;
}

/*教练招募*/
.recruit_top{
	width:100%;	
}
.recruit_box{
	width:100%;	
}	
.recruit_info{
	padding:5%;
	background-color:#FFF;
	border-bottom:1px solid #f1f1f1;
}	
.recruit_info p{
	font-size:14px;
	color:#464646;	
	float:left;
	width:80px;
}
.recruit_input{
	font-size:14px;
	color:#999;
	border:0;
}
.recruit_bottom{
	width:100%;
	position:absolute;
	bottom:0;
	height:50px;
	background-color:#00a8ff;	
}
.recruit_bottom p{
	font-size:16px;
	color:#FFF;
	text-align:center;
	height:50px;
	line-height:50px;	
}
.recruit_pp{
	margin-top:20%;	
	width:100%;	
	text-align:center;
}
.recruit_pp p{
	font-size:16px;	
	color:#00a8ff;
	line-height:1.5;
	font-weight:600;
}

