/*分销商审核日志*/
.auditlogBox{width: 998px;background: #FFF;border: 1px solid #dedede;border-radius: 3px;overflow: hidden;margin-top: 20px;}
.auditlogFilterBox{padding: 20px;overflow: hidden;}
.inputText{float: left;height: 28px;line-height: 28px;padding-left: 10px;color: #333;border: 1px solid #DEDEDE;border-radius: 3px;margin-right: 10px;outline: none;}
.auditlogFilterBox input{width: 160px;height: 28px;line-height: 28px;border: 1px solid #DEDEDE;border-radius: 3px;padding-left: 10px;color: #333;float: left;}
.auditlogFilterBox line{float: left;margin: 0 8px;color: #333333;font-size: 12px;line-height: 28px;}
.btnSearch{height: 30px;width: 65px;text-align: center;color: #FFFFFF;background: #29abe2;outline: 0;border-radius: 3px;font-weight: bold;cursor: pointer;float: left;margin-left: 20px;}
.auditlogList{height: 40px;line-height: 40px;background: #eeeeee;}
.auditlogList p{font-size: 12px;color: #666666;float: left;margin-left: 20px;}
.auditlogLi{overflow: hidden;}
.auditlogLi ul li{padding: 15px 0;line-height: 1.5;background: #FFFFFF;overflow: hidden;display: table;border-bottom: 1px solid #DEDEDE;}
.auditlogLi ul li:last-child{border: none;}
.auditlogLi ul li > p{font-size: 12px;color: #333;padding-left: 20px;overflow: hidden;display: table-cell;vertical-align: middle;}
.liOperation{padding-left: 20px;display: table-cell;vertical-align: middle;}
.liOperation button{height: 28px;border: 1px solid #dedede;margin-right: 8px;padding: 0 15px;background: #fff;outline: none;font-size: 12px;color: #666;cursor: pointer;}
