/*container*/
.IndexContainer{width: 1200px;margin: 0 auto;overflow: hidden;margin-bottom: 50px;}
.IndexContainer #indexLeft{background: #FFFFFF;float: left;}
.IndexContainer #indexRight{float: left;width: 1000px;margin-left: 20px;margin-top: 20px;}

